h1,
h2,
h3,
h4,
h5 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  color: #2a2a2a;
}
.text-gray {
  color: #72849a;
}

.wrap-content {
  touch-action: manipulation;
  cursor: -webkit-grab;
  cursor: grab;
  margin-bottom: 1.5rem;
  // box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  // box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  // box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
  //   0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.wrap-content:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.article-title {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  color: #2a2a2a;
  font-size: large;
}
.article-title:hover {
  color: rgb(83, 167, 236);
  cursor: pointer;
}

nz-skeleton {
  margin-bottom: 10px;
}

nz-skeleton:last-child {
  margin-bottom: 0;
}

nz-pagination {
  ::ng-deep {
    .ant-pagination-item, .ant-pagination-total-text, .ant-pagination-item-ellipsis {
      line-height: 30px;
    }
    a {
      text-decoration: none;
    }
  }
}

nz-table th {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  font-weight: 600;
  background-color: #f0f0f0;
  text-align: center;
  font-size: 12px; //
}

.search-box {
  padding: 8px;
}

.search-box input {
  width: 188px;
  margin-bottom: 8px;
  display: block;
}

.search-box button {
  width: 90px;
}

.search-button {
  margin-right: 8px;
}