
<div *ngIf="test" gdAreas="score test" gdRows="auto auto" gdColumns="27% 73%" 
gdAreas.lt-md="score | test" gdRows.lt-md="auto" gdColumns.lt-md="100%">
  <div gdArea="score">
    <div class="score-frame" ngClass.lt-md="score-frame-lt-md">
      <h1 mat-dialog-title class="test-title">{{test.name}}</h1>
      <div *ngIf="!isScored" >
        <!-- Khung giờ -->
        <div class="line-frame">
          <div class="center-vertical timer-title" >Thời gian còn lại:</div>
          <div class="center-all">
            <countdown class="count-down-frame" #cd [config]="{ leftTime: test.timeLimit * 60, format: test.timeLimit > 60 ? 'h:m:s' : 'm:s' }" 
              (event)="handleCoundown($event)">
            </countdown>
          </div>
        </div>
        <div class="line-frame">
          <div class="center-vertical timer-title" >Số câu hoàn thành:&nbsp;</div>
          <div class="center-vertical" >0/{{test.numberOfQuestion}}</div>
        </div>
        <!-- Khung câu hỏi -->
        <div class="no-question-frame">
          <div fxLayout="row wrap" fxLayoutGap="7px grid" fxLayoutAlign="flex-start" >
              <div fxFlex="0 1 calc(11%)" *ngFor="let question of test.numberOfQuestion | toArray ; let i = index">
                <app-answer
                class="answer-item"
                (click)="answerClick(i)"
                [numericalOrder]="i"
                [selectedIndex]="selectedIndex"
                ></app-answer>
            </div>
          </div>
        </div>
        <div class="center-all" style="margin: 10px 0 10px 0;">
          <button class="detail-btn" form="examSubmitForm">Nộp bài</button>
        </div>
      </div>
  
      <div *ngIf="isScored">
        <div style="width: 100%;">
          <div mat-dialog-content style="max-width: 100%;">
              <p>Điểm:</p>
              <div class="mark">{{testSubmissionReponse.mark | number : '1.2-2'}}</div>
              <p>Số câu trả lời đúng: <span class="result">{{testSubmissionReponse.numberOfRightAnswers}}/{{testSubmissionReponse.numberOfQuestion}}</span></p>
              <p>Thời gian làm bài: <span class="result">{{testSubmissionReponse.spentTime}}/{{test.timeLimit}} phút</span></p>
          </div>
          <div *ngIf="!isSaved">
            <p style="font-size: small; font-style: italic;">
              <span style="color: rgb(240, 30, 30);">Chú ý:</span> 
              Bạn có thể lưu lại kết quả bài thi bằng cách nhấn vào nút "Lưu".</p>     
            <div mat-dialog-actions>
              <button mat-button routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/" >Đóng</button>
              <button mat-button color="primary" (click)="onSave()" cdkFocusInitial>Lưu</button>
            </div>
          </div>
        </div>   

      </div>
    </div>
  </div>
  <div class="test-exam-scroll" gdArea="test"  id="style-7" ngClass.lt-md="test-exam-scroll-lt-md">
    <mat-card  class="card" class="question_widget">
      <mat-card-content class="card-body p-0">
        <form  [formGroup]="examSubmissionFormGroup" id="examSubmitForm" (ngSubmit)="onSubmit()">
        <div *ngFor="let question of test.questions; let i = index">
          <div *ngIf="question.isAnnotate">
            <span class="anotate-question">
              <div [innerHtml]="question.content | safeHtml"></div>
            </span>
          </div>
          <div *ngIf="!question.isAnnotate">
            <span id="{{question.realOrder}}" style="font-weight: bold; font-size: 1.2em">Câu {{ question.realOrder + 1 }}.
              <div [innerHtml]="question.content | safeHtml"></div>
            </span>
            <mat-radio-group formControlName="{{question.id}}"  aria-label="Select an option" [disabled]="isScored">
              <div *ngFor="let option of question.options; let j = index">
                <div  class="center-vertical">
                  <div *ngIf="isScored" class="marked-answer">
                    <div *ngIf="isRightAnswer(question.id, j)"><mat-icon class="right-answer">done</mat-icon></div>
                    <div *ngIf="isWrongAnswer(question.id, j)"><mat-icon class="wrong-answer"><mat-icon>close</mat-icon></mat-icon></div>
                  </div>
                  <mat-radio-button value="{{ j }}" >
                    <div [ngClass]="{'modal-open' : modalState}" [innerHtml]="option.content | safeHtml"></div>
                  </mat-radio-button>
                </div>
              </div>
            </mat-radio-group>
          </div>
          <br/>
        </div>
      </form>
      </mat-card-content>
    </mat-card>  
  </div>
</div>

<app-progress-spinner [actions]="homeActionQueue" *ngIf="homeActionQueue && homeActionQueue.length > 0"></app-progress-spinner>

