nz-breadcrumb {
  ::ng-deep {
    a {
      text-decoration: none !important;
      font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
        "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue",
        Helvetica, Arial, sans-serif;
      font-size: 15px;
      &:hover {
          text-decoration: underline;
      }
    }
    .anticon {
        vertical-align: 0 !important;
        font-size: 20px !important;
    }
  }
}
