<div>
  <nz-card>
    <div class="row">
      <div class="col-lg-3">
        <label for="">Các trường đại học liên quan</label>
        <nz-select          
          [nzMaxTagCount]="1"
          [nzMaxTagPlaceholder]="tagPlaceHolder"
          nzMode="multiple"
          nzPlaceHolder="Chọn danh sách trường đại học"
          [(ngModel)]="listOfSelectedUniversity"     
          style="width: 100%;"       
        >
          <nz-option
            *ngFor="let item of listOfDisplayUniversity"
            [nzLabel]="item.name"
            [nzValue]="item.id"
          ></nz-option>
        </nz-select>
        <ng-template #tagPlaceHolder let-selectedList> và {{ selectedList.length }} trường đại học khác </ng-template>
      </div>
      <div class="col-lg-2">
        <label for="">Các ngành học liên quan</label>
        <nz-select [nzMaxTagCount]="1" nzMode="multiple" nzPlaceHolder="Chọn danh sách ngành học" [(ngModel)]="listOfSelectedMajor" style="width: 100%;">
          <nz-option
            *ngFor="let item of listOfDisplayMajor"
            [nzLabel]="item.name"
            [nzValue]="item.id"
          ></nz-option>
        </nz-select>
        <ng-template #tagPlaceHolderMajor let-selectedList> và {{ selectedList.length }} ngành học khác </ng-template>
      </div>
      <div class="col-lg-2">
        <label for="">Hiên thị từ ngày</label>
        <nz-date-picker 
          style="width: 100%;"                     
          nzShowTime
          nzFormat="yyyy-MM-dd HH:mm:ss"
          ngModel            
        ></nz-date-picker>
      </div>
      <div class="col-lg-2">
        <label for="">Hiên thị đến ngày</label>
        <nz-date-picker 
          style="width: 100%;"     
          fullWidth                  
          nzShowTime
          nzFormat="yyyy-MM-dd HH:mm:ss"
          ngModel            
        ></nz-date-picker>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1 pr-0 pl-0">
        <label for="">Trạng thái</label>
        <nz-select style="width: 100%;">
          <nz-option nzValue="0" nzLabel="CHỜ DUYỆT"></nz-option>
          <nz-option nzValue="1" nzLabel="ĐÃ DUYỆT"></nz-option>
          <nz-option nzValue="2" nzLabel="BỊ CHẶN"></nz-option>
          <nz-option nzValue="3" nzLabel="ĐÃ ĐĂNG"></nz-option>
        </nz-select>
      </div>
      <div class="col-lg-2 pl-0" style="padding-top: 1.9rem;">   
        <div class="d-flex justify-content-center">
          <button nz-button nzType="primary" style="margin-right: 1rem;">Tìm Kiếm</button> 
          <button nz-button nzType="dashed">Tạo lại</button>                         
        </div>                 
      </div>      
    </div>
  </nz-card>
</div>