
.header {
  background-color: #c4ecf3;
  font-weight: 500;
  // justify-content: center;
  // align-items: center;
  display: flex;
  height: 60px;
}

.login {
  position: absolute;
  right: 15px;
  padding: 10px;
}


.home {
  position: relative;
  float: left;
  padding: 10px;
}