<div>
  <div class="flex items-center py-3">    
    <div class="text-xl">Thêm Trường</div>
    <div class="flex-auto"></div>
    <button nbButton (click)="closeModal()"><nb-icon pack="eva" icon="close-outline"></nb-icon></button>
  </div>
  
  <div class="flex">        
    <div class="col-md-6">
      <label for="">Tên Trường</label>
      <nb-form-field>        
        <nb-icon nbPrefix icon="home-outline" pack="eva"></nb-icon>
        <input [formControl]="createUniversityForm.get('name')" type="text" placeholder="" fullWidth nbInput [status]="createUniversityForm.get('name').invalid && (createUniversityForm.get('name').touched || createUniversityForm.get('name').dirty) ? 'danger' : 'info'"/>
      </nb-form-field>
    </div>
    <div class="col-md-6">
      <label for="">Code</label>
      <nb-form-field>
        <!-- <nb-icon nbPrefix icon="key-outline" pack="eva"></nb-icon> -->
        <!-- <i nz-icon nzType="key" nzTheme="outline"></i> -->
        <!-- <nb-icon nbPrefix icon="key" pack="font-awesome"></nb-icon> -->
        <i nbPrefix nz-icon nzType="key" nzTheme="outline"></i>
        <input [formControl]="createUniversityForm.get('code')" type="text" placeholder="" fullWidth nbInput [status]="createUniversityForm.get('code').invalid && (createUniversityForm.get('code').touched || createUniversityForm.get('code').dirty) ? 'danger' : 'info'"/>        
      </nb-form-field>
    </div>            
  </div>
  <div class="flex mt-3">
    <div class="col-md-9">
      <div class="flex">
        <div class="col-md-12 p-0">
          <label for="">Địa Chỉ</label>
          <nb-form-field>
            <nb-icon nbPrefix icon="pin-outline" pack="eva"></nb-icon>
            <input [formControl]="createUniversityForm.get('address')" type="text" placeholder="" fullWidth nbInput/>        
          </nb-form-field>
        </div>
      </div> 
      <div class="flex mt-3">
        <div class="col-md-6 pl-0">
          <label for="">Địa chỉ website</label>
            <nb-form-field>
              <nb-icon nbPrefix icon="link-2-outline" pack="eva"></nb-icon>
              <input [formControl]="createUniversityForm.get('webUrl')" type="text" placeholder="" fullWidth nbInput/>        
            </nb-form-field>
        </div>
        <div class="col-md-6 p-0">
          <label for="">Số điện thoại</label>
          <nb-form-field>
            <nb-icon nbPrefix icon="phone-outline" pack="eva"></nb-icon>
            <input [formControl]="createUniversityForm.get('phone')" type="text" placeholder="" fullWidth nbInput/>        
          </nb-form-field>
        </div>
      </div>           
    </div> 
    <div class="col-md-3">
      <label class=" d-flex justify-content-center align-items-center" for="">Logo</label>
      <div class="flex">        
        <div class="col-md-12 d-flex justify-content-center align-items-center">
          <div style="background-color: #edf1f7; width: 115px; height: 115px; border: 1px solid #e4e9f2;" class="justify-content-center align-items-center position-relative">
            <img style="width: 115px; height: 115px;" [src]="logo" alt="" *ngIf="logo">
            <input #logoUpload type="file" style="display: none;" (change)="uploadLogo($event)">
            <button (click)="logoUpload.click()" style="top: 39px; left: 39px;" class="position-absolute" nbButton size="small">
              <nb-icon icon="upload-outline"></nb-icon>          
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>  
  <div class="flex mt-3">
    <div class="col-md-4">
      <label for="">Loại Học Phí</label>
      <nb-select [formControl]="createUniversityForm.get('tuitionType')" fullWidth>        
        <nb-option [value]="0">Theo Năm</nb-option>
        <nb-option [value]="1">Theo Kì</nb-option>        
      </nb-select>
    </div>
    <div class="col-md-4 ml-3 pl-0">
      <label for="">Học phí tối thiểu</label>
      <!-- <nb-form-field>
        <input [formControl]="createUniversityForm.get('tuitionFrom')" type="text" nbInput mask="separator.2" thousandSeparator="." fullWidth style="text-align: right;">
      </nb-form-field> -->
      <nz-input-group nzAddOnAfter=".000" [nzSize]="'large'">
        <input   [formControl]="createUniversityForm.get('tuitionFrom')" mask="separator.2" thousandSeparator="." type="text" nz-input style="text-align: right; background-color: #f7f9fc;" />
      </nz-input-group>
    </div>
    <div class="col-md-4 pl-0">
      <label for="">Học phí tối đa</label>
      <!-- <nb-form-field>
        <input [formControl]="createUniversityForm.get('tuitionTo')" type="text" nbInput mask="separator.2" thousandSeparator="." fullWidth style="text-align: right;">
        
      </nb-form-field> -->
      <nz-input-group nzAddOnAfter=".000" [nzSize]="'large'">
        <input [formControl]="createUniversityForm.get('tuitionTo')" mask="separator.2" thousandSeparator="." type="text" nz-input style="text-align: right; background-color: #f7f9fc;" />
      </nz-input-group>
    </div>
  </div> 
  <div class="flex mt-3">
    <div class="col-md-6">
      <label for="">Trạng Thái</label>
      <nb-select [formControl]="createUniversityForm.get('status') " [selected]="'1'" fullWidth>        
        <nb-option [value]="1">Hoạt Động</nb-option>
        <nb-option [value]="0">Không Hoạt Động</nb-option>        
      </nb-select>
    </div>    
    <div class="col-md-6">
      <label for="">Đánh Giá</label>
      <nb-select [formControl]="createUniversityForm.get('rating')" fullWidth>        
        <nb-option value="1">
          ⭐️
        </nb-option>
        <nb-option value="2">
          <div>⭐️⭐️</div>
        </nb-option>
        <nb-option value="3">
          <div>⭐️⭐️⭐️</div>
        </nb-option>
        <nb-option value="4">
          <div>⭐️⭐️⭐️⭐️</div>
        </nb-option>
        <nb-option value="5">
          <div>⭐️⭐️⭐️⭐️⭐️</div>
        </nb-option>
      </nb-select>
    </div>
  </div> 
  <div class="flex mt-3">
    <div class="col-md-12">
      <label for="">Miêu Tả</label>        
      <quill-editor
        [formControl]="createUniversityForm.get('description')"
        class="content-editor"        
        [modules]="editorOptions"
        [placeholder]="''"
      ></quill-editor>
    </div> 
  </div>
  
  <div class="footer">
    <button (click)="submitForm()" [disabled]="createUniversityForm?.invalid" nz-button [nzSize]="'medium'" nzType="primary">
      Thêm 
    </button>
    <button (click)="cancel()" nz-button [nzSize]="'medium'" nzType="basic">
      Thoát 
    </button>
  </div>
</div>
