.score-title {
  padding-top: 10px;
  width: 100%;
  font-weight: 500;
}

.score {
  font-weight: 700;
  font-size: 40px;
}

.center-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-vertical {
  display: flex;
  align-items: center;
}

.center-horizontal {
  display: flex;
  justify-content: center;
}

.test-review-scroll {
  height: auto;
}

.right-answer {
  color: green;
}

.wrong-answer {
  color: red;
}

.marked-answer {
  width: 30px;
}

.icon {
  margin-right: 8px;
}

::ng-deep .mat-radio-button.mat-radio-disabled .mat-radio-label-content {   /*click effect color change*/
  // background-color: blue;
  color: black  !important;
}

::ng-deep .mat-radio-button.mat-radio-disabled .mat-radio-inner-circle {
  background-color: #ff4081 !important;
}
::ng-deep .mat-radio-button.mat-radio-disabled.mat-radio-checked .mat-radio-outer-circle {
  border-color: #ff4081 !important;
}

.anotate-question {
  font-weight: bold;
  font-size: 1.2em;
}

.score-frame {
  border: solid 1px black;
  height: 95%;
}