<div *ngIf="detailTestSubmission" style="width: 100%;">
  <div style="width: 100%;">
    <!-- Thông tin bài thi -->
    <div style="width: 100%;" fxLayout="row wrap" fxLayoutAlign="flex-start">
      <div class="center-all" fxFlex="0 1 calc(19%)" style="padding: 10px 0 10px 0;">
        <div class="center-all" style="width: 75%; height: 100%; background-color: lightcoral; border-radius: 50%;">
          <div style="font-size: 2em; font-weight: 900;">{{detailTestSubmission.mark}}/10</div>
        </div>
      </div>
      <div fxFlex="0 1 calc(81%)" style="padding: 15px;">
        <div style="font-weight: 700; font-size: 1.2em; text-align: center;">Kết quả bài thi: {{detailTestSubmission.testName}}</div>
        <div style="width: 100%; margin-top: 5px;" fxLayout="row wrap" fxLayoutAlign="flex-start">
          <div fxFlex="0 1 calc(50%)">
            <div>Số câu làm đúng: {{detailTestSubmission.numberOfRightAnswers}}/{{detailTestSubmission.numberOfQuestion}} câu</div>
            <div>Thời gian làm bài: {{detailTestSubmission.spentTime}}/{{detailTestSubmission.timeLimit}} phút</div>
          </div>
          <div fxFlex="0 1 calc(50%)">
            <div>Số lần đã làm: {{detailTestSubmission.numberOfCompletion}} lần</div>
          </div>
        </div>
      </div>
    </div>
    <!-- Thông tin đáp án -->
    <div style="width: 100%;">
      <div style="border: 2px solid rgb(111, 112, 114)"
       fxFlex="0 1 calc(100%)" fxFlex.lt-sm="100%">
        <div fxLayout="row wrap" fxLayoutGap="6px grid" fxLayoutAlign="flex-start" 
          style="padding: 7px;">
          <div fxFlex="0 1 calc(5%)" *ngFor="let question of detailTestSubmission.numberOfQuestion | toArray; let i = index">
            <app-answer [numericalOrder]="i" [isRight]="isRight(i)" [isWrong]="isWrong(i)"></app-answer>
          </div>
        </div>
      </div>  
    </div>
    <div style="width: 100%;" class="test-review-scroll">
      <div fxFlex="0 1 calc(100%)" fxFlex.lt-sm="100%">
        <div fxLayout="row wrap" fxLayoutGap="6px grid" fxLayoutAlign="flex-start" 
          style="padding: 7px;">
          <div fxFlex="0 1 calc(100%)"  *ngFor="let question of detailTestSubmission.questionSubmissions; let i = index">
            <br/>
            <div *ngIf="question.isAnnotate">
              <span class="anotate-question">
                <div [innerHtml]="question.content | safeHtml"></div>
              </span>
            </div>
            <div *ngIf="!question.isAnnotate">
              <span style="font-weight: bold; font-size: 1.2em;">Câu {{ question.realOrder + 1 }}.
                <div [innerHtml]="question.content | safeHtml"></div>
              </span>
              <mat-radio-group aria-label="Select an option">
                <div *ngFor="let option of question.options; let j = index">
                  <div  class="center-vertical">
                    <div class="marked-answer">
                      <div *ngIf="question.rightResult.indexOf('1') === j"><mat-icon class="right-answer">done</mat-icon></div>
                      <div *ngIf="question.result.indexOf('1') === j && question.result.indexOf('1') !== question.rightResult.indexOf('1')"><mat-icon class="wrong-answer"><mat-icon>close</mat-icon></mat-icon></div>
                    </div>
                    <mat-radio-button [disabled]='true' [value]="j" [checked]="question.result.indexOf('1') === j">
                      <div [innerHtml]="option.content | safeHtml"></div>
                    </mat-radio-button>
                  </div>
                </div>
              </mat-radio-group>
            </div>
          </div>
          
        </div>
      </div>  
    </div>
  </div>
</div>
<app-progress-spinner [actions]="userActionQueue" *ngIf="userActionQueue.length > 0"></app-progress-spinner>
