.btn_answer {
    width: 50px;
    min-width: 50px;
    margin: 0 5px 5px 0;    
}

.isSelected {
    background-color: #3f51b5;
    color: #fff;
}
app-answer {
    width: 50px;
    min-width: 50px;
}