
.re-enter-btn {
  margin-right: 25px;
}

.step-1-frame {
  // background-color: rgb(114, 183, 248);
}

.step-2-frame {
  // background-color: rgb(114, 183, 248);

}

.subject-error {
  color: red;
  margin-left: 30%;
  font-size: 14px;
}

.province-error {
  border: 2px solid red;
}

.step-1-title {
  text-align: center;
  margin: 20px 0px 20px 0px
}

.province-frame {
  margin-bottom: 20px;
}

.criteria-frame {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.radio-choice {
  margin-left: 26px;
}

.criteria-lable {
  width: 25%;
  font-weight: 500;
}

.province-field {
  width: auto;
  margin-left: 26px;
}

.province-input {
  height: 36px;
  border-radius: 5px;
  padding-left: 10px;
  border: 1px solid rgba(196, 236, 243);
}

.subject-frame {
  margin-bottom: 20px;
}

.score-field:disabled {
  background-color: rgb(239, 239, 239, 0.7);
}

.score-field {
  text-align: right;
  width: 45%;
  border-radius: 5px;
  border: 1px solid rgba(196, 236, 243);
  height: 36px;
}


.label-subject {
  width: 30%;
  font-weight: 500;
}

.step-2-in-fram {
  width: 100%;
  height: auto;
}

.suggest-btn {
  margin-top: 15px;
  padding-bottom: 20px;
}

.suggest-title {
  color: #1f85c3;
  font-style: italic;
  padding: 5px;
  border-radius: 5px;
  margin-top: 20px;
  font-weight: 500;
}

.top-2-group-frame {
  padding-top: 50px; 
  margin-right: 32px;
}

.top-1-group-frame {
  margin-right: 32px;
}

.top-3-group-frame {
}

.top-2-group-in-frame {
  height: 450px;
  padding: 10px;
  background-color: hsl(197, 70%, 36%);
  border-radius: 30px;
}

.top-2-group-inner-frame {
  height: 100%;
  background-color: azure;
  border-radius: 30px;
}



.center {
  margin: auto;
  width: 70%;
  padding: 10px;
}

.center-exam {
  margin: auto;
  width: 90%;
  padding: 10px;
}

.btn-step-one {
  float: right;
}

.circle {
  background: red;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  position: absolute; 
  bottom: 0px;
  right: 50%;
  margin-right: -50px;
}

.note-frame {
  width: 100%;
  margin-bottom: 20px;
  padding-left: 5px;
  border-radius: 5px;
  display: flex;
}

.note-icon {
  margin-right: 5px;
  color: #0083c9;
}

.note-info-frame {
  width: 80%;
}

.search-frame {
  width: 20%;
}

.search-icon {
  cursor: pointer;
  height: 12px !important;
  font-size: 16px !important;
  color: white;
}

.search-btn {
  height: 80%;
  padding: 0px !important;
  border-radius: 4px;
  margin-left: 4px;
  background-color: rgb(73,125,189);
  border-color: rgb(73,125,189);
}

.search-field {
  width: 80%;
  border-radius: 5px;
  border-color: rgb(73,125,189);
  color: rgb(73,125,189);
  padding-left: 5px;
  font-size: 14px;
}


.square {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.green-square {
  background-color: #25a31d;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 22px;
}

.yellow-square {
  background-color: #FFFF00;
  margin-left: 15px;
  margin-right: 5px;
  font-size: 22px;
}

.red-square {
  background-color: #d71b3b;
  margin-left: 15px;
  margin-right: 5px;
  font-size: 22px;
}

.low-level-subject-group-frame {
  height: 30%;
  background-color: rgb(231, 238, 240);
}

.low-level-in-subject-group-frame {
  height: 100%;
  padding-top: 8px;
}

.example-card {
  width: 100%;
  height: 300px;
}


.major-scroll {
	float: left;
	// background: #F5F5F5;
	overflow-y: scroll;
}


.mock-test-score-title {
  color: #ae1616;
  font-weight: 500;
  padding-bottom: 10px;
  font-style: italic;
}

#style-7::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	// background-color: #F5F5F5;
	border-radius: 10px;
}

#style-7::-webkit-scrollbar
{
	width: 6px;
}

#style-7::-webkit-scrollbar-thumb
{
	border-radius: 10px;
  background-color:  rgb(73,125,189);
}

.transparent .mat-dialog-container {
  box-shadow: none;
  background: rgba(219, 14, 14, 0);
}

.center-horizontal {
  display: flex;
  justify-content: center;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 26px;
}

.center-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-vertical {
  display: flex;
  align-items: center;
}

.major-title {
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 10px;
  background-color: rgb(41 54 148);
  color: white;
  padding: 5px;
}

.uni-list-header-frame {
  margin-bottom: 19px;
}


.mock-test-title {
  font-size: 1.2em;
  font-weight: 300;
  padding-right: 10px;
  width: 78%;
}

.result-link:hover {
  // background-color: red;
  cursor: pointer;
  color: rgb(53, 117, 236);
  background-color: white;
}

.result-link {
  padding: 0 5px;
  border-radius: 5px;
  border: 1px solid rgb(88, 153, 236);
  background-color: rgb(88, 153, 236);
  color: white;
  margin: 0 5px;
}

.result-note-frame {
  border-radius: 5px;
  background-color: #cee3f0;
  padding: 8px 5px;
  width: 100%;
  margin-bottom: 20px;
  font-weight: 500;
}

.mock-test-button {
  width: 22%;
}

.first-line-uni-information {
  margin-top: 10px;
}

.training-program-list-frame {
  padding: 10px 0px 10px 20px;
  margin-right: -20px;
  width: 100%;
}

.training-program {
  // border: 1px solid #cccccc;
}

.uni-icon {
  margin-right: 14px;
}


.training-program-item-frame {
  height: auto;
  margin-right: 20px;
  padding: 10px;
  border-radius: 5px;
}

.devided-class-1 {
  background-color: #25a31d;
  // box-shadow: rgb(39, 233, 39) 0px 0px 6px;
  // box-shadow: #25a31d 0px 0px 6px;
}

.devided-class-2 {
  background-color: #FFFF00;
  // box-shadow: rgb(235, 235, 55) 0px 0px 6px;
}

.devided-class-3 {
  background-color: #d71b3b;
  // box-shadow: rgb(238, 41, 41) 0px 0px 6px;
}

.follow-button-frame {
  margin-top: 10px;
}

.img-frame {
  width: 100%;
  height: 100%;
  max-height: 220px;
}
//Button thi thử

.blob {
  background-color: #1c87c9;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  border: none;
  color: #eeeeee;
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  font-size: 20px;
  padding: 10px 20px;;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  transform: scale(1);
  animation: pulse-black 2s infinite;
}

.blob.blue {
background: rgba(52, 172, 224, 1);
box-shadow: 0 0 0 0 rgba(52, 172, 224, 1);
animation: pulse-blue 2s infinite;
}

@keyframes pulse-blue {
  0% {
  transform: scale(0.95);
  box-shadow: 0 0 0 0 rgba(52, 172, 224, 0.7);
  }

  70% {
  transform: scale(1);
  box-shadow: 0 0 0 10px rgba(52, 172, 224, 0);
  }

  100% {
  transform: scale(0.95);
  box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
  }
}


::ng-deep .mat-horizontal-stepper-header{
  pointer-events: none !important;
}


.top-1-group-in-frame {
  height: 550px;
  padding: 10px;
  background-color: hsl(197, 90%, 30%);
  border-radius: 30px;
}

.top-1-title-frame {
  height: 15%;
  background-color: hsl(192, 69%, 70%);
  border-radius: 30px 30px 0px 0px;
}

.top-1-title { 
  color: hsl(224, 86%, 40%); 
  font-family: "Great Vibes", 
  cursive; 
  justify-content: center;
  font-size: 3em; 
  font-weight: normal; 
  text-align: center; 
  text-shadow: 0 1px 1px #fff; 
}


.top-1-out-circle-frame {
  background-color: hsl(187, 84%, 65%);
  height: 140px;
  width: 140px;
  display: flex;
  margin: auto;
  border-radius: 50%;
}

.top-1-circle-frame {
  background-color: hsl(221, 89%, 40%);
  height: 120px;
  width: 120px;
  margin: auto;
  border-radius: 50%;
}

.group-top-1-name {
  color: hsl(44, 100%, 70%);
  font-family: 'Rouge Script', cursive;
  font-size: 3.7em; 
  font-weight: normal;  
  text-align: center; 
  text-shadow: 1px 1px 2px #082b34; 
}

.top-1-major-frame {
  height: 55%;
  background-color: hsl(192, 69%, 70%);
  border-radius: 0px 0px 30px 30px;
}





.top-2-group-in-frame {
  height: 450px;
  padding: 10px;
  background-color: hsl(197, 90%, 35%);
  border-radius: 30px;
}

.top-2-title-frame {
  height: 15%;
  background-color: hsl(192, 69%, 75%);
  border-radius: 30px 30px 0px 0px;
}

.top-2-title { 
  color: hsl(224, 86%, 45%); 
  font-family: "Great Vibes", 
  cursive; 
  justify-content: center;
  font-size: 2.7em; 
  font-weight: normal; 
  text-align: center; 
  text-shadow: 0 1px 1px #fff; 
}

.top-2-out-circle-frame {
  background-color: hsl(187, 84%, 70%);
  height: 120px;
  width: 120px;
  display: flex;
  margin: auto;
  border-radius: 50%;
}

.top-2-circle-frame {
  background-color: hsl(221, 89%, 45%);
  height: 100px;
  width: 100px;
  margin: auto;
  border-radius: 50%;
}

.group-top-2-name {
  color: hsl(44, 100%, 75%);
  font-family: 'Rouge Script', cursive;
  font-size: 3.1em; 
  font-weight: normal;  
  text-align: center; 
  text-shadow: 1px 1px 2px #082b34; 
}

.top-2-major-frame {
  height: 55%;
  background-color: hsl(192, 69%, 75%);
  border-radius: 0px 0px 30px 30px;
}





.top-3-group-in-frame {
  height: 450px;
  padding: 10px;
  background-color: hsl(197, 90%, 40%);
  border-radius: 30px;
}

.top-3-title-frame {
  height: 15%;
  background-color: hsl(192, 69%, 80%);
  border-radius: 30px 30px 0px 0px;
}

.top-3-title { 
  color: hsl(224, 86%, 50%); 
  font-family: "Great Vibes", 
  cursive; 
  justify-content: center;
  font-size: 2.7em; 
  font-weight: normal; 
  text-align: center; 
  text-shadow: 0 1px 1px #fff; 
}

.top-3-out-circle-frame {
  background-color: hsl(187, 84%, 75%);
  height: 120px;
  width: 120px;
  display: flex;
  margin: auto;
  border-radius: 50%;
}

.top-3-circle-frame {
  background-color: hsl(221, 89%, 50%);
  height: 100px;
  width: 100px;
  margin: auto;
  border-radius: 50%;
}

.group-top-3-name {
  color: hsl(44, 100%, 80%);
  font-family: 'Rouge Script', cursive;
  font-size: 3.1em; 
  font-weight: normal;  
  text-align: center; 
  text-shadow: 1px 1px 2px #082b34; 
}

.top-3-major-frame {
  height: 55%;
  background-color: hsl(192, 69%, 80%);
  border-radius: 0px 0px 30px 30px;
}



.test-subject-title {
  color: #161984;
}

.description {
  padding: 5px;
  // border: 1px solid #cccccc;

}

.university-frame {
  margin-bottom: 25px;
  width: 100%;
  border: 1px solid transparent;;
  
  border-radius: 8px;
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
  
}

.name {
  padding: 5px;
  // border: 1px solid #cccccc;
}

.logo {
  // border: 1px solid #cccccc;
}

.uni-name {
  color: #033969;
  cursor: pointer;
}

.uni-name:hover {
  color: #022a4d;
}

.training-program-name {
  font-size: 16px;
  font-weight: 500;
  color: #033969;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 5px;
}

.training-title {
  font-size: 14px;
  color: black;
}

.mat-expansion-panel:not([class*='mat-elevation-z']) {
  box-shadow: none;
}

.detail-button {
  padding-top: 10px;
  color: #0083c9;
  font-size: 14px;
}

.mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
  justify-content: flex-end;
  align-items: center;
}

::ng-deep .mat-expansion-indicator:after {
  color: #0083c9;
}

.uni-des-title {
  font-weight: 500;
  width: 110px;
}

::ng-deep .mat-expansion-panel-content {
  font-size: 16px !important;
}

td {
  vertical-align: top;
  padding: 10px;
}

.ratio-tooltip {
  background-color: white;
  color: #082f4e;
  font-size: 14px;
}

.host-frame {
  margin-top: 15px;
}

.more-group {
  float: right;
  cursor: pointer;
  color: #1890ff;
  text-align: right;
  font-weight: 500;
}

.back-group {
  float: left;
  cursor: pointer;
  color: #1890ff;
  text-align: left;
  font-weight: 500;
}

.back-group-frame {
  width: 100%;
}