<mat-vertical-stepper [selected]="stepTwo" linear #stepper>
  <mat-step #stepOne [stepControl]="secondFormGroup" editable="true">
    <div class="center">
      <form [formGroup]="secondFormGroup" (ngSubmit)="onScoreSubmit()">
        <ng-template matStepLabel>Nhập điểm</ng-template>
        <mat-form-field *ngFor="let subject of subjects; let i = index">
          <mat-label>{{ subject.name }}</mat-label>
          <input
          style="text-align:right;"
            type="number"
            matInput
            formControlName="{{ subject.id }}"
            placeholder="Điểm {{ subject.name }}"
          />
        </mat-form-field>
        <div>
          <button style="margin-top: 20px; margin-left: 30px;" mat-raised-button color="primary" matStepperNext>Xem kết quả</button>
        </div>
      </form>
    </div>
  </mat-step>
  <mat-step #stepTwo >
    <ng-template matStepLabel>Kết quả</ng-template>
    <div class="center">
      <mat-grid-list [cols]="column" rowHeight="100px">
        <mat-grid-tile
            *ngFor="let tile of finalResultTiles"
            [colspan]="tile.cols"
            [rowspan]="tile.rows"
            [style.background]="tile.color" style=" align-items: flex-end;">
            <div *ngIf="!tile.isUsed">
              <div class="circle">{{tile.suggestedGroup.name}}</div>
            </div>
            <div *ngIf="tile.isUsed"  >
              <div style="font-weight: bold;">Total marks: {{ tile.suggestedGroup.totalMark }}</div>
              <mat-selection-list [multiple]="false">
                <div *ngIf="tile.suggestedGroup.suggestedMajors">
                  <mat-list-option *ngFor="let major of tile.suggestedGroup.suggestedMajors">
                    <div>{{ major.name}}</div>
                    <mat-divider></mat-divider>
                  </mat-list-option>
                </div>
              </mat-selection-list>
            </div>
        </mat-grid-tile>
      </mat-grid-list>
      <div style="margin-top: 25px;">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button class="btn-step-one" (click)="stepper.reset()">Reset</button>
      </div>
  </div>
  </mat-step>
</mat-vertical-stepper>
