
mat-form-field {
  margin: 16px 90px 0px 50px;
}

.center {
  margin: auto;
  width: 70%;
  padding: 10px;
}

.btn-step-one {
  float: right;
}

.circle {
  background: red;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  position: absolute; 
  bottom: 0px;
  right: 50%;
  margin-right: -50px;
}

.low-level-circle-frame {
  background-color: rgb(11, 69, 192);
  height: 100px;
  width: 100px;
  margin: auto;
  border-radius: 50%;
}

.low-level-out-circle-frame {
  background-color: rgb(82, 221, 240);
  height: 120px;
  width: 120px;
  display: flex;
  margin: auto;
  border-radius: 50%;
}

.low-level-subject-group-frame {
  height: 30%;
  background-color: rgb(231, 238, 240);
}

.low-level-in-subject-group-frame {
  height: 100%;
  padding-top: 8px;
}

.example-card {
  width: 100%;
  height: 300px;
}

.major-scroll {
	float: left;
	// background: #F5F5F5;
	overflow-y: scroll;
}

#style-7::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	// background-color: #F5F5F5;
	border-radius: 10px;
}

#style-7::-webkit-scrollbar
{
	width: 6px;
}

#style-7::-webkit-scrollbar-thumb
{
	border-radius: 10px;
  background-color:  rgb(73,125,189);
}

.test-exam-scroll {
  overflow: scroll;
  height: 600px;
}

.top-title-2 { 
  color: #124be7; 
  font-family: "Great Vibes", 
  cursive; 
  justify-content: center;
  font-size: 3em; 
  font-weight: normal; 
  text-align: center; 
  text-shadow: 0 1px 1px #fff; 
}

.top-title-1 { 
  color: #124be7; 
  font-family: "Great Vibes", 
  cursive; 
  justify-content: center;
  font-size: 3.5em; 
  font-weight: normal; 
  text-align: center; 
  text-shadow: 0 1px 1px #fff; 
}

.group-top2-name {
  color: #CEF0D4;
  font-family: 'Rouge Script', cursive;
  font-size: 3.1em; 
  font-weight: normal;  
  text-align: center; 
  text-shadow: 1px 1px 2px #082b34; 
}

.group-top1-name {
  color: #CEF0D4;
  font-family: 'Rouge Script', cursive;
  font-size: 3.7em; 
  font-weight: normal;  
  text-align: center; 
  text-shadow: 1px 1px 2px #082b34; 
}

.transparent .mat-dialog-container {
  box-shadow: none;
  background: rgba(219, 14, 14, 0);
}

.center-horizontal {
  display: flex;
  justify-content: center;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 26px;
}

.center-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-vertical {
  display: flex;
  align-items: center;
}

.major-title {
  font-size: 1.3em;
  font-weight: 700;
  padding-right: 32px;
  margin-bottom: 10px;
}

.uni-list-header-frame {
  margin-bottom: 19px;
}


.mock-test-title {
  font-size: 1.2em;
  font-weight: 300;
  padding-right: 10px;
  width: 78%;
}

.mock-test-button {
  width: 22%;
}

.first-line-uni-information {
  margin-top: 10px;
}

.training-program-list-frame {
  padding: 20px;
  margin-right: -32px;
}

.training-program-item-frame {
  height: auto;
  margin-right: 32px;
  padding: 20px;
  background-color: rgb(185 224 245);
}

.follow-button-frame {
  margin-top: 10px;
}

.img-frame {
  width: 100%;
  height: 100%;
}
//Button thi thử

.blob {
  background-color: #1c87c9;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  border: none;
  color: #eeeeee;
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  font-size: 20px;
  padding: 10px 20px;;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  transform: scale(1);
  animation: pulse-black 2s infinite;
}

.blob.blue {
background: rgba(52, 172, 224, 1);
box-shadow: 0 0 0 0 rgba(52, 172, 224, 1);
animation: pulse-blue 2s infinite;
}

@keyframes pulse-blue {
0% {
transform: scale(0.95);
box-shadow: 0 0 0 0 rgba(52, 172, 224, 0.7);
}

70% {
transform: scale(1);
box-shadow: 0 0 0 10px rgba(52, 172, 224, 0);
}

100% {
transform: scale(0.95);
box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
}
}


::ng-deep .mat-horizontal-stepper-header{
  pointer-events: none !important;
}

table { width: 100%; height: auto; }
table td { border: 1px solid black; min-width: 10px; }