.custom-select {
    width: 100%;
    height: fit-content;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;    
    .scroll-item {
        width: 100%;        
        height: fit-content;
        max-height: 15rem;
        overflow-y: auto;
        word-break: keep-all;
        &::-webkit-scrollbar {
            width: 5px;
            height: 5px;
        }
        &::-webkit-scrollbar-track {
            background-color: white;
        }
        &::-webkit-scrollbar-thumb {
            background-color: rgba(91, 155, 213, 0.5);
            border-radius: 10px;
            cursor: pointer;
        }
        &::-webkit-scrollbar-thumb:hover {
            background-color: rgb(91, 155, 213);
        }
        .select-item {
            width: 100%;
            display: flex;            
            align-items: center;
            padding: 0.5rem 0.5rem;
            &:hover {
                color: white;
                background: #17a2b8;
                cursor: pointer;
            }
        }
    }
}

.addNewItem {
    padding: 0.5rem;    
}