<div class="user-configuration">
  <div class="container-fluid">
    <div nz-row>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24" class="mb-2">
        <nb-card style="width: 100%;">
          <nb-card-body style="width: 100%;">
            <div class="user-header">
              <div class="none-action">
                <div class="user-header-title">
                  <h5>BẢNG THÔNG TIN NGƯỜI DÙNG CÓ TRONG HỆ THỐNG</h5>
                </div>             
              </div>
              <div class="add-user">
                <button nz-button nzSize="medium" nzType="dashed" (click)="resetSearchName()">                  
                  Mặc định
                </button>
              </div> 
            </div>
            <nz-divider style="margin-top: 10px; margin-bottom: 10px;"></nz-divider> 
            <nz-spin [nzSpinning]="isLoadingData">
              <nz-table
              #userConfigTable
              nzBordered
              nzShowSizeChanger
              nzShowQuickJumper
              [nzData]="listOfDisplayUser" 
              [nzFrontPagination]="false"
              [nzShowPagination]="total > 4"
              [nzTotal]="total" [nzPageSize]="pageSize" [nzPageIndex]="pageIndex" [nzShowTotal]="totalTemplate" [nzPageSizeOptions]="[5, 10]" (nzQueryParams)="onQueryParamsChange($event)"
            >
              <thead>
                <tr>
                  <th id="stt">STT</th>                  
                  <th id="name">TÊN NGƯỜI DÙNG
                    <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValueName.length > 0" [nzDropdownMenu]="searchMenu">
                      <i nz-icon nzType="search"></i>
                    </nz-filter-trigger>
                  </th>
                  <th id="email">EMAIL</th>                  
                  <th id="role">CHỨC DANH</th>
                  <th id="status">TRẠNG THÁI</th>
                  <th id="action">THAO TÁC</th>
                </tr>              
              </thead>
              <tbody>
                <ng-container *ngFor="let user of userConfigTable.data; let i = index">
                  <tr [style.backgroundColor]="i % 2 == 1 ? '#B0E0E6' : '#fff'">
                    <td>{{user.stt}}</td>                    
                    <td>{{user.fullname}}</td>
                    <td>
                      <div style="display: flex; justify-content: center; align-items: center;">
                        {{user.email}}
                      </div>
                    </td>
                    <td>
                      <div style="width: 100%; display: flex; align-items: center; justify-content: center;">
                        <span *ngIf="user.roleId === 1">Nhân viên</span>
                        <span *ngIf="user.roleId === 2">Người dùng</span>
                        <span *ngIf="user.roleId === 3">Admin</span>
                      </div>
                    </td>
                    <td>
                      <div style="width: 100%; display: flex; align-items: center; justify-content: center;">
                        <nz-tag [nzColor]="user.isActive === true ? 'success' : 'error'">
                          <span id="status" *ngIf="user.isActive === true">ĐANG HOẠT ĐỘNG</span>
                          <span id="status" *ngIf="user.isActive !== true">KHÔNG HOẠT ĐỘNG</span>  
                        </nz-tag>
                      </div>
                    </td>
                    <td>
                      <div style="display: flex; justify-content: center; align-items: center;">
                        <div class="icon-edit" (click)="openUpdateModal(user)">
                          <nb-icon icon="edit-outline"></nb-icon>
                        </div>
                      </div>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </nz-table>
            </nz-spin>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </div>
</div>

<nz-dropdown-menu #searchMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input placeholder="Tìm kiếm người dùng" [(ngModel)]="searchValueName" />
      <button nz-button nzSize="small" nzType="primary" class="search-button" (click)="searchByName()"> 
        TÌM KIẾM
      </button>
      <button nz-button nzSize="small" (click)="resetSearchName()">TẠO LẠI</button>
    </div>
  </div>
</nz-dropdown-menu>

<ng-template #totalTemplate>
  <span>
    Hiện có {{ total }} người dùng trong hệ thống
  </span>  
</ng-template>