<div style="width: 100%; height: auto;">
  <div class="header-frame">
    <div class="center-all header-content">THÔNG TIN CHI TIẾT</div>
  </div>
  <div *ngIf="selectedUserMajorDetail" class="body-frame">
    <div gdAreas="avatar title title | avatar description description" gdGap="10px" gdRows="auto auto"
gdAreas.lt-md="title | avatar | description" gdRows.lt-md="auto auto auto">
      <div gdArea="avatar">
        <img style="width: 100%; height: 100%;" src="{{selectedUserMajorDetail.universityGroupByTrainingProgramDataSet.logoUrl || '../../assets/img/news.png'}}" alt="">
      </div>
      <div gdArea="title">
        <h3>Trường {{selectedUserMajorDetail.universityGroupByTrainingProgramDataSet.name}} - Ngành {{selectedUserMajorDetail.majorBasedUserMajorDetail.name}} - Hệ {{selectedUserMajorDetail.trainingProgramGroupByMajorDataSet.name}}</h3>
      </div>
      <div gdArea="description">
        <div class="description" fxLayout="row wrap" fxLayoutGap="grid" fxLayoutAlign="flex-start">
        </div>
      </div>
    </div>

    <div class="information" fxLayout="row wrap" fxLayoutGap="grid" fxLayoutAlign="flex-start">
      <div class="ranking-information" fxFlex="0 1 calc(50% - 16px)" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
        <div class="rank-information">
          <div>
            Thông tin xếp hạng
          </div>
          <div>Chỉ tiêu: </div>
          <div>Khối: </div>
          <div>Loại điểm: </div>
          <div>Điểm chuẩn: </div>
          <div>Xếp hạng: </div>
        </div>
        <div class="uni-information">
          <div>
            Thông tin trường
          </div>
          <div>Mã trường:</div>
          <div>Sđt:</div>
          <div>Địa chỉ:</div>
          <div>Học phí: </div>
          <div>Website: </div>
        </div>
        <div class="major-information">
          <div>
            Thông tin ngành
          </div>
          <div>Mã ngành:</div>
          <div>Thông tin ngành:</div>
          <div>Hệ</div>
        </div>
      </div>
      <div class="user-information" fxFlex="0 1 calc(50% - 16px)" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">

      </div>
    </div>
  </div>
</div>