<div class="home-frame">
  <div class="bg-frame">
    <div class="search-section">
      <form (ngSubmit)="onSearch()" class="search-frame center-all">
        <input placeholder="Tiêu đề bài viết..." class="text-field" type="text" id="fullname" [(ngModel)]="searchTerm" name="searchTerm"/>
        <div class="center-vertical mock-test-button">
          <button type="submit" class="blob blue">Tìm kiếm</button>
        </div>
      </form>
    </div>
  </div>

    <div class="frame-content">
      <div class="menu-news">
        <div class="menu-item hot-news orange center-vertical" (click)="scrollToElement(hotNewsFrame, 1)"><div>BẢN TIN HOT</div></div>
        <div class="menu-item today-news center-vertical" (click)="scrollToElement(todayNewsFrame, 2)"><div>BẢN TIN HÔM NAY</div></div>
        <div class="menu-item past-news center-vertical" (click)="scrollToElement(pastNewsFrame, 3)"><div>BẢN TIN CŨ HƠN</div></div>
        <div class="menu-item all-news center-vertical" (click)="viewAll()"><div>XEM TẤT CẢ</div></div>
      </div>
      
      <div [ngClass]="{'hidden': !isViewAll}" #viewAllEl class="hot-news-frame">
        <div class="frame-title">TẤT CẢ BẢN TIN</div>
        <div class="under-line"></div>
        <div *ngIf="collapseArticlesPageResponse && collapseArticlesPageResponse.data" class="news-list">
          <div class="flex-frame" fxLayout="row wrap" fxLayoutGap="grid" fxLayoutAlign="flex-start">
            <div class="item-news" fxFlex="0 1 calc(25% - 16px)" fxFlex.lt-md="0 1 calc(50% - 16px)" fxFlex.lt-sm="100%" *ngFor="let article of collapseArticlesPageResponse.data;">
              <img class="news-thumbnail" src="{{article.postImageUrl}}" alt="">
              <h3 class="title" routerLink="./{{article.id}}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                {{article.title}}
              </h3>
              <div class="post-date">{{article.timeAgo}}</div>
              <p class="news-description">{{article.shortDescription | shorten:140}}</p>
            </div>
          </div>
        </div>
        <div class="empty-title" *ngIf="!(collapseArticlesPageResponse && collapseArticlesPageResponse.data)">
          Chưa có bản tin nào!
        </div>
      </div>

      <!-- hot news -->
      <div [ngClass]="{'hidden': isViewAll}" #hotNewsFrame class="hot-news-frame">
        <div class="frame-title">BẢN TIN HOT</div>
        <div class="under-line"></div>
        <div *ngIf="homeArticles && homeArticles[0] && homeArticles[0].articles && homeArticles[0].articles.length > 0" class="news-list">
          <div class="flex-frame" fxLayout="row wrap" fxLayoutGap="grid" fxLayoutAlign="flex-start">
            <div class="item-news" fxFlex="0 1 calc(25% - 16px)" fxFlex.lt-md="0 1 calc(50% - 16px)" fxFlex.lt-sm="100%" *ngFor="let article of homeArticles[0].articles;">
              <img class="news-thumbnail" src="{{article.postImageUrl}}" alt="">
              <h3 class="title" routerLink="./{{article.id}}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                {{article.title}}
              </h3>
              <div class="post-date">{{article.timeAgo}}</div>
              <p class="news-description">{{article.shortDescription | shorten:140}}</p>
            </div>
          </div>
        </div>
        <div class="empty-title" *ngIf="!(homeArticles && homeArticles[0] && homeArticles[0].articles && homeArticles[0].articles.length > 0)">
          Hiện đang cập nhật!
        </div>
      </div>

      <!-- today news  -->
      <div [ngClass]="{'hidden': isViewAll}" #todayNewsFrame class="today-news-frame">
        <div class="frame-title">BẢN TIN HÔM NAY</div>
        <div class="under-line"></div>
        <div *ngIf="homeArticles && homeArticles[1] && homeArticles[1].articles && homeArticles[1].articles.length > 0" class="news-list">
          <div class="flex-frame" fxLayout="row wrap" fxLayoutGap="grid" fxLayoutAlign="flex-start">
            <div class="item-news" fxFlex="0 1 calc(25% - 16px)" fxFlex.lt-md="0 1 calc(50% - 16px)" fxFlex.lt-sm="100%" *ngFor="let article of homeArticles[1].articles;">
              <img class="news-thumbnail" src="{{article.postImageUrl}}" alt="">
              <h3 class="title" routerLink="./{{article.id}}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                {{article.title}}
              </h3>
              <div class="post-date">{{article.timeAgo}}</div>
              <p class="news-description">{{article.shortDescription | shorten:140}}</p>
            </div>
          </div>
        </div>
        <div class="empty-title" *ngIf="!(homeArticles && homeArticles[1] && homeArticles[1].articles && homeArticles[1].articles.length > 0)">
          Hôm nay chưa có tin tức nào!
        </div>
      </div>

      <!-- past news  -->
      <div [ngClass]="{'hidden': isViewAll}" #pastNewsFrame class="past-news-frame">
        <div class="frame-title">BẢN TIN CŨ HƠN</div>
        <div class="under-line"></div>
        <div *ngIf="homeArticles && homeArticles[2] && homeArticles[2].articles && homeArticles[2].articles.length > 0" class="news-list">
          <div class="flex-frame" fxLayout="row wrap" fxLayoutGap="grid" fxLayoutAlign="flex-start">
            <div class="item-news" fxFlex="0 1 calc(25% - 16px)" fxFlex.lt-md="0 1 calc(50% - 16px)" fxFlex.lt-sm="100%" *ngFor="let article of homeArticles[2].articles;">
              <img class="news-thumbnail" src="{{article.postImageUrl}}" alt="">
              <h3 class="title" routerLink="./{{article.id}}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                {{article.title}}
              </h3>
              <div class="post-date">{{article.timeAgo}}</div>
              <p class="news-description">{{article.shortDescription | shorten:140}}</p>
            </div>
          </div>
        </div>
        <div class="empty-title" *ngIf="!(homeArticles && homeArticles[2] && homeArticles[2].articles && homeArticles[2].articles.length > 0)">
          Không có tin nào!
        </div>
      </div>

      <div *ngIf="collapseArticlesPageResponse && isViewAll" class="page-button-section center-all">
        <div *ngIf="firstButtonValue > 0" (click)="pageClick(firstButtonValue)" class="page-button center-all">{{firstButtonValue}}</div>
        <div *ngIf="firstButtonValue > 0" class="center-all three-dot">...</div>
        <div *ngIf="secondButtonValue > 0" (click)="pageClick(secondButtonValue)" [ngClass]="{'page-button-selected': secondButtonValue == collapseArticlesPageResponse.pageNumber}" class="page-button center-all">{{secondButtonValue}}</div>
        <div *ngIf="thirdButtonValue > 0" (click)="pageClick(thirdButtonValue)" [ngClass]="{'page-button-selected': thirdButtonValue == collapseArticlesPageResponse.pageNumber}" class="page-button center-all ">{{thirdButtonValue}}</div>
        <div *ngIf="fourthButtonValue > 0" (click)="pageClick(fourthButtonValue)" [ngClass]="{'page-button-selected': fourthButtonValue == collapseArticlesPageResponse.pageNumber}" class="page-button center-all">{{fourthButtonValue}}</div>
        <div *ngIf="lastButtonValue > 0" class="center-all three-dot">...</div>
        <div *ngIf="lastButtonValue > 0" (click)="pageClick(lastButtonValue)" class="page-button center-all">{{lastButtonValue}}</div>
      </div>
    </div>
</div>

<app-progress-spinner [actions]="homeActionQueue" *ngIf="homeActionQueue && homeActionQueue.length > 0"></app-progress-spinner>
