
.item-news {
  width: 100%;
  height: auto;
  background-color: rgb(247,247,247);
}

.info-section {
  padding: 16px;
}

.info-section-list {
  padding: 16px;
  margin-right: 16px;
}

.item-news-list {
  margin-top: 40px;
}

.thumnail {
  margin-right: 16px;
}

.item-divider {
  margin-bottom: 30px;
  margin-top: 10px;
}

.center-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-dis {
  font-weight: 100;
}

.page-button {
  margin-right: 5px;
  width: 35px;
  height: 35px;
  border: 1px solid rgb(152, 196, 233);
  border-radius: 2px;
}

.page-button:hover {
  background-color: rgb(152, 196, 233);
  cursor: pointer;
}

.three-dot {
  margin-right: 5px;
  width: 20px;
  height: 35px;
}

.page-button-selected {
  background-color: rgb(152, 196, 233);
}

.page-button-section {
  padding-bottom: 50px;
}

.title:hover {
  color: rgb(83, 167, 236);
  cursor: pointer;
}