.header-frame {
  width: 100%;
  background-color: rgb(218, 235, 240);
  border-radius: 15px;
}

.header-content {
  width: 100%;
  height: 15%;
  background-color: rgb(57, 199, 235);
  font-size: 1.5em;
  font-weight: 600;
  border-radius: 5px;
}

.center-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

.body-frame {
  width: 100%;
  padding: 5px 5px 0 5px;
}

.text-field {
  width: 100%;
  border-radius: 5px;
  outline: 0;
  padding: 9px;
  font-size: 14px;
  color: #262626;
}

#email {
  opacity: 0.8
}

.info-table {
  width: 100%;
  height: 100%;
}

.info-table tr {
  margin-bottom: 12px;
  padding-bottom: 24px;
}

.sex {
  display: flex;
  height: 100%;
  align-items: center;
}

.male-field {
  margin-right: 20px;
}

.border-table {
  border: 1px solid black;
}

.cell {
  padding: 10px;
  border-bottom: 1px solid black;
  text-align: center;
}

.score-table {
  width: 100%;
}

.cell-head {
  padding: 10px;
  border-bottom: 1px solid black;
}

.green-mark {
  color: #20c31d;
}

.empty-mark {
  color: #cc1010;
}

.score-title {
  margin-bottom: 24px;
}