<div class="status-list">  
  <div *ngIf="action === 'search'" class="px-3 pt-3 row">
    <div class="col-lg-6 col-md-6">
      <h5>{{ landTitle }}</h5>
    </div>
    <div class="col-lg-6 col-md-6" fixed>
      <div class="row">
        <div class="col-md-8 col-lg-8 pr-0">
          <nb-form-field>
            <!-- <nb-icon nbSuffix icon="search-outline" pack="eva"></nb-icon> -->            
            <input fullWidth fieldSize="small" #searchByTitle type="text" placeholder="Tìm kiếm theo tiêu đề bài viết" nbInput   (change)="searchValueTitle.emit(searchByTitle.value)"/>
          </nb-form-field>
        </div>
        <div class="col-md-4 col-lg-4">
          <button nbButton size="small" status="info" (click)="searchValueTitle.emit(searchByTitle.value)">TÌM KIẾM</button> 
        </div>                        
      </div>      
    </div>
  </div>
  <div *ngIf="action === 'save'" class="px-3 pt-3 row">
    <div class="col-lg-6 col-md-6">
      <h5>{{ landTitle }}</h5>
    </div>
    <div class="col-lg-6 col-md-6">
      <div style="display: flex; justify-content: flex-end; align-items: center;">
        <button nz-button nzType="default" style="margin-right: 10px;">TẠO LẠI</button>                
      </div>           
    </div>
  </div>
  <nz-divider></nz-divider>
  <div *ngIf="listOfArticle !== undefined; else loadingData" class="article-card-container" cdkDropList [cdkDropListData]="listOfArticle" (cdkDropListDropped)="drop($event)">
    <div *ngFor="let item of listOfArticle; let i = index">
      <app-article-card [article]="item" [cdkDragData]="item" cdkDrag>        
        <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
      </app-article-card>
    </div> 
    <nz-divider *ngIf="action === 'search'"></nz-divider>  
    <div *ngIf="action === 'search'" style="display: flex; justify-content: center; align-items: center; margin-bottom: 10px;">
      <!-- <nz-pagination      
        [nzPageSizeOptions]="[5, 10]"
        [nzPageIndex]="initPageNumber"
        [nzTotal]="20"
        nzShowSizeChanger
        [nzPageSize]="initPageSize"
        (nzPageSizeChange)="onPageSizeChange($event)"
        (nzPageIndexChange)="onPageIndexChange($event)"
      ></nz-pagination> -->
    </div> 
  </div>    
</div>

<ng-template #loadingData>
  <div style="display: flex; justify-content: center; align-items: center; height: 500px;">
    <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
  </div>
</ng-template>
