nb-select {
  ::ng-deep {
    button {
      min-width: 4rem !important;
    }
  }
}

::ng-deep {
  .row {
    margin-left: 0;
  }
}

label {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 500;  
  margin: 0;
}
.university-detail {
  width: 100%;
  height: 100%;
  padding: 1rem;
  overflow: auto;
  position: relative;
  // max-height: 50rem;
}
.university-detail .page-header {
  margin-left: -1rem;
  margin-right: -1rem;
  margin-top: -1rem;
  margin-bottom: 25px;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
  padding: 1rem 3rem;
}

.flex-container-custom {
  display: flex;
  flex-direction: column;      
}

.td-border-children {
  border-bottom: 1px solid #f0f0f0;
  // min-height: 9rem;
  // height: 9rem;  
  // max-width: 10rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.td-border-children:last-child {
  border-bottom: none;
}

.td-border-children .td-border-children-one {
  border-bottom: 1px solid #f0f0f0;  
  // height: 100%;
  // height: calc(2rem * 2rem);  
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.td-border-children .td-border-children-one:last-child {
  border-bottom: none;
}

.td-border-children .td-border-children-one .td-border-children-two {
  border-bottom: 1px solid #f0f0f0;  
  // height: 100%;  
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.td-border-children .td-border-children-one .td-border-children-two:last-child {
  border-bottom: none;
}

nz-table th {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  font-weight: 600;
  // background-color: #87ceeb;
  background-color: #f0f0f0;
  // background-color: #e4e9f2;
  // background-color: rgb(59, 175, 218);
  text-align: center;
  font-size: 12px;//
}

//------ Search box -----
.search-box {
  padding: 8px;
}

.search-box input {
  width: 188px;
  margin-bottom: 8px;
  display: block;
}

.search-box button {
  width: 90px;
}

.search-button {
  margin-right: 8px;
}

//-------------- MAJOR HEADER ------------------
.major-header {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.none-action {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.major-header-title h5{
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 15px;
  margin: 0 15px 0 0;
  color: #ff3d71;
  text-transform: uppercase;
}

.year {
  width: 8rem;
}

nz-table {
  ::ng-deep {
    .ant-pagination-item, .ant-pagination-total-text, .ant-pagination-item-ellipsis {
      line-height: 30px;
    }
    a {
      text-decoration: none;
    }
  }
}

@media (min-width: 1472px) {
  nz-table #mark {
    width: 9%;
  }
  nz-table #stt {
    width: 1%;
  }
  nz-table #group {
    width: 6%;
  }
  nz-table #code {
    width: 10%;
  }
  nz-table #quantity{
    width: 8%;
  }
  nz-table #action {
    width: 7%;
  }
  nz-table #programe {
    width: 10%;
  }
  nz-table #main-addmission {
    width: 10%;
  }
  nz-table #name {
    width: 19%;
  }
}

//TABLE 
.sticky-table-header {
  // background-color: #fff;
  border: none;
  border-radius: 0;
  // border-top: 1px solid #eee;
  // border-bottom: 1px solid #eee;
  position: absolute;
  top: 90px;
  // visibility: visible;
  // visibility: hidden;
  z-index: 990;
  overflow: hidden;
  min-width: 100%;
  padding-right: 70px;
}

.sticky-table-header.fixed-solution {
  min-width: 0;
  position: fixed;
}

.icon-edit {
  width: 30px; height: 30px; border-radius: 50%; display: flex; justify-content: center; align-items: center;
  border: 2px solid #f2f2f2;
  background-color: #f2f2f2;
  cursor: pointer;  
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }  
}

.add-major {
  float: right;
}

.missInfomation {
  cursor: pointer;
  nb-icon:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }  
}

nz-table span {
  font-size: 12px;
}