<div class="article-detail">  
  <div class="container-fluid" style="padding-left: 0;">
    <div nz-row *ngIf="unCensorshipList !== undefined; else loading">
      <div nz-col [nzXs]="17" [nzSm]="17" [nzMd]="17" [nzLg]="17" [nzXl]="17" [nzXXl]="17" class="mb-2">
        <div class="action-button-page">
          <button (click)="preElement()" [disabled]="currentIndex === 0" nz-button nzType="primary" style="width: 140px; background-color: transparent;" nzType="dashed" >Bài trước</button>
        </div>  
        <nb-card style="margin: 0; width: 100%; position: relative">
          <nb-card-body style="width: 100%">
            <div style="width: 100%;">              
              <div style="padding: 1rem;">   
                <div *ngIf="article === null; else articleContent">
                  <nz-skeleton [nzActive]="true"></nz-skeleton>
                </div>     
                <ng-template #articleContent>
                  <h3 [innerHtml]="article.title"></h3>
                  <div style="margin-bottom: 15px;">
                    <div class="d-flex align-items-center">
                      <div class="d-flex align-items-center">
                        <i nz-icon nzType="link" nzTheme="outline"></i>
                        <div style="margin-left: 5px;">
                          <a [href]="article.rootUrl"><span>Link bài gốc</span></a>                    
                        </div>
                      </div>
                      <div class="text-gray">
                        <nz-divider nzType="vertical"></nz-divider>
                        <span>{{article.postedDate | date: 'HH:mm dd/MM/yyyy'}}</span>
                      </div>
                    </div>
                  </div>
                  <div [innerHtml]="article.content | safeArticleHtml"></div>
                </ng-template>                                        
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </div>

      <div [class]="'action'" nz-col [nzXs]="6" [nzSm]="6" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6" class="mb-2">
        <div style="display: flex; justify-content: space-between;">
          <div class="action-button-page">
            <button (click)="preElement()" [disabled]="currentIndex === 0" nz-button nzType="primary" style="width: 140px; background-color: transparent;" nzType="dashed" >Bài trước</button>
          </div>  
          <div class="action-button-page">
            <button (click)="nextElement()" nz-button nzType="primary" style="width: 120px;">Bài tiếp theo</button>
          </div> 
        </div>        
        <nb-card style="margin: 0 0 20px 0; width: 100%; position: relative;">
          <nb-card-body style="width: 100%">
            <div style="width: 100%; max-height: 50rem">  
              <div style="display: flex; justify-content: center; align-items: center; flex-wrap: wrap;">
                <label for="" class="mb-0 mr-5">Trạng thái bài viết : </label>
                <label *ngIf="article.status === 1" style="color: rgb(87, 165, 90);" class="mb-0">ĐÃ DUYỆT</label>
                <label *ngIf="article.status === 0" style="color: rgb(233, 127, 51);" class="mb-0">CHỜ DUYỆT</label>
                <label *ngIf="article.status === 2" style="color: rgb(205, 19, 23);" class="mb-0">BỊ CHẶN</label>                
              </div>
              <nz-divider></nz-divider>  
              <div style="display: flex; justify-content: center; flex-wrap: wrap;">                
                <div class="col-lg-12" style="margin-bottom: 20px;">
                  <label for="">Các trường đại học liên quan</label>
                  <nz-select
                    [nzDisabled]="article.status !== 0"
                    style="width: 100%;"
                    [nzSize]="'large'"
                    [nzMaxTagCount]="3"
                    [nzMaxTagPlaceholder]="tagPlaceHolderUni"
                    nzMode="multiple"
                    nzPlaceHolder="Chọn danh sách trường đại học"
                    [(ngModel)]="listOfSelectedUniversity"
                  >
                    <nz-option *ngFor="let item of listOfDisplayUniversity" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
                  </nz-select>
                  <ng-template #tagPlaceHolderUni let-selectedList> và {{ selectedList.length }}trường đại học khác </ng-template>
                </div> 
                <div class="col-lg-12" style="margin-bottom: 20px;">
                  <label for="">Các ngành học liên quan</label>
                  <nz-select
                    [nzDisabled]="article.status !== 0"
                    [nzSize]="'large'"
                    [nzMaxTagCount]="3"
                    [nzMaxTagPlaceholder]="tagPlaceHolderMajor"
                    nzMode="multiple"
                    nzPlaceHolder="Chọn danh sách các ngành"
                    [(ngModel)]="listOfSelectedMajor"
                  >
                    <nz-option *ngFor="let item of listOfDisplayMajor" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
                  </nz-select>
                  <ng-template #tagPlaceHolderMajor let-selectedList> và {{ selectedList.length }} ngành học khác </ng-template>
                </div> 
              </div>                                      
            </div>
          </nb-card-body>
        </nb-card>
        <div *ngIf="article.status !== 2">
          <div style="display: flex; justify-content: center;">
            <div *ngIf="article.status === 0" class="action-button col-lg-6" style="padding-left: 0px;">
              <button *ngIf="article.status === 0" fullWidth nbButton  status="success" (click)="confirmArticle('accept')">DUYỆT BÀI VIẾT</button>
              <!-- <button *ngIf="article.status === 1" fullWidth nbButton  status="success" outline (click)="confirmArticle('deny')">BỎ DUYỆT</button> -->
            </div>            
            <div [class]="article.status === 0 ? 'action-button col-lg-6' : 'action-button col-lg-12'" style="padding-right: 0px; padding-left: 0;">
              <button fullWidth [disabled]="article.status === 2" nbButton outline status="danger" (click)="confirmArticle('reject')">CHẶN BÀI VIẾT</button>
            </div>
          </div>  
          <!-- <div class="action-button">
            <button (click)="nextElement()" nz-button style="width: 100%; background-color: #fca130; border-color: #fca130; color: #fff; text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
            box-shadow: 0 2px 0 rgb(0 0 0 / 5%);" nzSize="large">BỎ QUA</button>
          </div> -->
        </div>
        <div *ngIf="article.status === 2">
          <div style="display: flex; justify-content: center;">
            <div class="action-button col-lg-12" style="padding-left: 0px; padding-right: 0;">
              <button outline fullWidth nbButton  status="success" (click)="confirmArticle('unReject')">GỠ CHẶN</button>              
            </div>            
            <!-- <div class="action-button col-lg-6" style="padding-right: 0px;">
              <button (click)="nextElement()" nz-button style="width: 100%; background-color: #fca130; border-color: #fca130; color: #fff; text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
            box-shadow: 0 2px 0 rgb(0 0 0 / 5%);" nzSize="large">BỎ QUA</button>
            </div> -->
          </div>          
        </div>
             
      </div>      
    </div>    
  </div>
</div>
<ng-template #loading>
  <div style="display: flex; justify-content: center; align-items: center; width: 100%; height: 700px;">
    <nz-spin nzSimple [nzSize]="'large'" nzTip="Đang tải lên các bài viết chờ duyệt"></nz-spin>
  </div>  
</ng-template>