.header-frame {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 15px;
}

.header-content {
  width: 100%;
  height: auto;
  font-size: 1.5em;
  font-weight: 600;
  border-radius: 15px;
  color: #0095ff;
}

.uni-title {
  // color: #160477;
}

.body-frame {
  width: 100%;
  padding: 5px 5px 0 5px;
  background-color: white;
}

.center-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

.label {
  font-weight: 500;
}

table {
  // font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border-bottom: 1px solid #dddddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #e7f6fb;
}

.is-user {
  color: #00d68f;
  font-family: Open Sans, sans-serif;
  font-weight: 500;
}

.ranking-information {
  margin-top: 32px;

}

.user-information {
  margin-right: -16px;
  margin-top: 32px;
}
.row-item {
  // background-color: #e7f6fb;
}

.uni-information {
  margin-top: 30px;
}

.major-information {
  margin-top: 30px;
}

.detail-info {
  width: 100%;
  height: auto;
  padding-left: 20px;
}

.rank-type {
  // color: #2f0ee0;
  font-weight: 500;
}

.avatar {
  width: 100%;
  max-height: 350px;
}

.avatar-frame {
  padding: 0 20px;
}

.description {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  opacity: 0.7;
}

.num-td {
  text-align: right;
}

.code-td {
  text-align: center;
}