<div style="width: 100%; height: auto;">
  <div class="header-frame">
    <div class="center-all header-content">THÔNG TIN CHI TIẾT</div>
  </div>
  <div *ngIf="userFollowingDetail" class="body-frame">
    <div gdAreas="avatar title title | avatar description description" gdGap="10px" gdRows="auto auto"
gdAreas.lt-md="title | avatar | description" gdRows.lt-md="auto auto auto">
      <div gdArea="avatar">
        <img style="width: 100%; height: 100%;" src="{{userFollowingDetail.universityDataSet.logoUrl || '../../assets/img/news.png'}}" alt="">
      </div>
      <div gdArea="title">
        <h3 class="uni-title">Trường {{userFollowingDetail.universityDataSet.name}} - Ngành {{userFollowingDetail.majorDataSet.name}} - Hệ {{userFollowingDetail.trainingProgramDataSet.name}}</h3>
      </div>
      <div gdArea="description">
        <div class="description" fxLayout="row wrap" fxLayoutGap="grid" fxLayoutAlign="flex-start">
          {{userFollowingDetail.universityDataSet.description}}
        </div>
      </div>
    </div>

    <div class="information" fxLayout="row wrap" fxLayoutGap="grid" fxLayoutAlign="flex-start">
      <div class="ranking-information" fxFlex="0 1 calc(40% - 16px)" fxFlex.lt-md="100%">
        <div class="rank-information">
          <h3>
            Thông tin xếp hạng
          </h3>
          <div>Chỉ tiêu năm {{userFollowingDetail.rankingInformation.seasonDataSets[1].name}}: {{userFollowingDetail.rankingInformation.seasonDataSets[1].numberOfStudents}}</div>
          <div>Điểm chuẩn năm  {{userFollowingDetail.rankingInformation.seasonDataSets[0].name}}: {{userFollowingDetail.rankingInformation.seasonDataSets[0].entryMark}}</div>
          <div>Khối: {{userFollowingDetail.rankingInformation.subjectGroupCode}}</div>
          <div>Loại điểm: </div>
          <div>Xếp hạng:  {{userFollowingDetail.rankingInformation.positionOfUser}}</div>
        </div>
        <div class="uni-information">
          <h3>
            Thông tin trường
          </h3>
          <div>Mã trường: {{userFollowingDetail.universityDataSet.code}}</div>
          <div>Sđt: {{userFollowingDetail.universityDataSet.phone}}</div>
          <div>Địa chỉ: {{userFollowingDetail.universityDataSet.address}}</div>
          <div *ngIf="!userFollowingDetail.universityDataSet.tuitionTo ||
                      !userFollowingDetail.universityDataSet.tuitionFrom ||
                      (userFollowingDetail.universityDataSet.tuitionTo ==
                        userFollowingDetail.universityDataSet.tuitionFrom &&
                        userFollowingDetail.universityDataSet.tuitionTo < 100)">
            Đang cập nhật
          </div>
          <div *ngIf="userFollowingDetail.universityDataSet.tuitionTo == 
              userFollowingDetail.universityDataSet.tuitionFrom &&
              userFollowingDetail.universityDataSet.tuitionTo >= 100">
            Học phí: khoảng {{userFollowingDetail.universityDataSet.tuitionTo | number:'1.0':'en-US'}},000/
            {{ userFollowingDetail.universityDataSet.tuitionType == 0 ? "kì" : "năm"}}
          </div>
          <div *ngIf="userFollowingDetail.universityDataSet.tuitionTo !=
                  userFollowingDetail.universityDataSet.tuitionFrom">
            Học phí: từ {{userFollowingDetail.universityDataSet.tuitionFrom | number:'1.0':'en-US'}},000
            đến {{userFollowingDetail.universityDataSet.tuitionTo | number:'1.0':'en-US'}},000/
            {{ userFollowingDetail.universityDataSet.tuitionType == 0 ? "kì" : "năm"}}
          </div>
          <div>Website: <a href="{{userFollowingDetail.universityDataSet.webUrl}}" target="_blank">{{userFollowingDetail.universityDataSet.webUrl}}</a></div>
        </div>
        <div class="major-information">
          <h3>
            Thông tin ngành
          </h3>
          <div>Mã ngành: {{userFollowingDetail.majorDataSet.code}}</div>
          <div>Hệ: {{userFollowingDetail.trainingProgramDataSet.name}}</div>
        </div>
        <!-- <share-button [theme]="'default'"
          [button]="'facebook'"
          [showText]="true"
          [size]="4"
          [url]="'https://unilinks-41d0e.web.app/customer/home'"
        ></share-button> -->
      </div>
      <div class="user-information" fxFlex="0 1 calc(60% - 16px)" fxFlex.lt-md="100%">
        <div>
          <h3>Bảng xếp hạng</h3>
          <table>
              <thead>
                  <tr>
                      <th>No.</th>
                      <th>Họ tên</th>
                      <th>Thứ hạng</th>
                      <th>Tổng điểm</th>
                      <th>Khối thi</th>
                  </tr>
              </thead>
              <tbody *ngFor="let rankType of userFollowingDetail.rankingUserInformationsGroupByTranscriptType; let i = index">
                    <tr class="rank-type">{{rankType.name}}</tr>
                    <tr *ngFor="let userRanking of rankType.rankingUserInformations; let j = index">
                      <td>{{count(i) + j + 1}}</td>
                      <td [ngClass]="{'is-user': this.userId == userRanking.id}">{{userRanking.fullname}}</td>
                      <td>{{userRanking.position}}</td>
                      <td>{{userRanking.totalMark}}</td>
                      <td>{{userRanking.groupCode}}</td>
                    </tr>
              </tbody>
          </table>
      </div>
      </div>
    </div>
  </div>
</div>

<app-progress-spinner *ngIf="userActionQueue && userActionQueue.length > 0"></app-progress-spinner>
