<div class="center-all">
  <h1 class="title">DANH SÁCH CÁC TRƯỜNG ĐẠI HỌC</h1>
</div>
<div class="host-frame center-all">
    <form (ngSubmit)="onSubmit()" class="search-frame">
      <input class="text-field" type="text" id="fullname" [(ngModel)]="searchTerm" placeholder="Nhập tên trường..." name="searchTerm"/>
      <button class="search-btn">Tìm kiếm</button>
    </form>
</div>
<div *ngIf="universitiesPageResponse && universitiesPageResponse.data.length > 0" class="host-frame">
  <div class="total">Hệ thống ghi nhận có {{universitiesPageResponse.totalRecords}} trường đại học.</div>
  <div class="uni-frame" *ngFor="let university of universitiesPageResponse.data" gdAreas="avatar name info | detail detail detail" gdRows="auto auto" gdColumns ="20% 50% 30%"
      gdAreas.lt-md="" gdRows.lt-md="auto auto auto auto">
    <div class="avatar" gdArea="avatar">
      <img class="img-frame" src="{{university.logoUrl || '../../../../../assets/img/ic/univeristy.jpg'}}" alt="" />
    </div>
  
    <div class="name" gdArea="name">
      <h2 class="uni-name">{{university.name | uppercase}}</h2>
      <p class="uni-address">{{university.address | titlecase}}</p>
      <div>{{university.description || 'Đang cập nhật...' | shorten:200}}</div>
    </div>
  
    <div class="info" gdArea="info">
      <p class="tuition-title">Học phí:</p>
      <div class="tuition-value" *ngIf="!university.tuitionTo || !university.tuitionFrom ||
                                        (university.tuitionTo == university.tuitionFrom && university.tuitionTo < 100)">
        Đang cập nhật
      </div>
      <div class="tuition-value" *ngIf="university.tuitionTo == university.tuitionFrom  && university.tuitionTo >= 100">
        Khoảng {{university.tuitionTo | number:'1.0':'en-US'}},000/
        {{university.tuitionType == 0 ? "kì" : "năm"}}
      </div>
      <div class="tuition-value" *ngIf="university.tuitionTo != university.tuitionFrom">
        Từ {{university.tuitionFrom | number:'1.0':'en-US'}},000
        đến {{university.tuitionTo | number:'1.0':'en-US'}},000/
        {{university.tuitionType == 0 ? "kì" : "năm"}}
      </div>

      <p class="tuition-title">Điện thoại:</p>
      <div class="tuition-value">{{university.phone}}</div>
  
      <p class="tuition-title website-title">Website:</p>
      <a class="tuition-value" href="{{university.webUrl}}" target="_blank">{{university.webUrl | shorten:27 | lowercase}}</a>
    </div>
    <div class="detail" gdArea="detail">
        <button class="detail-btn" [routerLinkActiveOptions]="{exact: true}" routerLink="./{{university.id}}">Xem chi tiết</button>
    </div>
  </div>

  <div *ngIf="universitiesPageResponse" class="page-button-section center-all">
    <div *ngIf="firstButtonValue > 0" (click)="pageClick(firstButtonValue)" class="page-button center-all">{{firstButtonValue}}</div>
    <div *ngIf="firstButtonValue > 0" class="center-all three-dot">...</div>
    <div *ngIf="secondButtonValue > 0" (click)="pageClick(secondButtonValue)" [ngClass]="{'page-button-selected': secondButtonValue == universitiesPageResponse.pageNumber}" class="page-button center-all">{{secondButtonValue}}</div>
    <div *ngIf="thirdButtonValue > 0" (click)="pageClick(thirdButtonValue)" [ngClass]="{'page-button-selected': thirdButtonValue == universitiesPageResponse.pageNumber}" class="page-button center-all ">{{thirdButtonValue}}</div>
    <div *ngIf="fourthButtonValue > 0" (click)="pageClick(fourthButtonValue)" [ngClass]="{'page-button-selected': fourthButtonValue == universitiesPageResponse.pageNumber}" class="page-button center-all">{{fourthButtonValue}}</div>
    <div *ngIf="lastButtonValue > 0" class="center-all three-dot">...</div>
    <div *ngIf="lastButtonValue > 0" (click)="pageClick(lastButtonValue)" class="page-button center-all">{{lastButtonValue}}</div>
  </div>
</div>

<div *ngIf="(!universitiesPageResponse || universitiesPageResponse.data.length <= 0) && (!homeActionQueue || homeActionQueue.length <= 0)" class="host-frame">
  <h1>Hiện tại không có trường đại học nào!</h1>
</div>

<app-progress-spinner [actions]="homeActionQueue" *ngIf="homeActionQueue && homeActionQueue.length > 0"></app-progress-spinner>
