.divider {
  // height: 1px;
  // width: 300px;
  // background-color: black;
}

.body-frame {
  width: 100%;
  padding: 5px 5px 0 5px;
  background-color: white;
}

.title {
  font-weight: 500;
}

.center {
  margin: 2% auto 0 auto;
  width: 80%;
  padding: 10px;
  height: 100%;
}

.center-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-vertical {
  display: flex;
  align-items: center;
}

.center-horizontal {
  display: flex;
  justify-content: center;
}

.date-bar {
  width: 230px;
  height: 40px;
  color: whitesmoke;
  clip-path: polygon(0% 0, 91% 0, 100% 50%, 91% 100%, 0 100%);
  background-color: #fe3e71;
  padding: 5px 20px 5px 10px;
}

.test-frame {
  border-radius: 5px;
  box-shadow: rgb(50 50 93 / 25%) 0px 6px 12px -2px, rgb(0 0 0 / 30%) 0px 3px 7px -3px;
  width: 100%;
  height: auto;
  padding-top: 12px;
  background-color: white;
  color: black;
  margin-left: 16px;
}

.test-value {
  font-weight: 500;
}

.test-title {
  font-weight: 600;
  cursor: pointer;
}

.test-title:hover {
}

.test-submissions-scroll {
  height: auto;
}


#style-7::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	// background-color: #F5F5F5;
	border-radius: 10px;
}

#style-7::-webkit-scrollbar
{
	width: 6px;
}

#style-7::-webkit-scrollbar-thumb
{
	border-radius: 10px;
  background-color:  rgb(206, 218, 233);
}

/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.select {
  position: relative;
  display: flex;
  width: auto;
  height: 2em;
  line-height: 2;
  // background: #0d5982;
  color: black;
  overflow: hidden;
  border-radius: .25em;
}
select {
  flex: 1;
  padding: 0 .5em;
  color: #fff;
  cursor: pointer;
}
/* Arrow */
.select::after {
  // content: '\25BC';
  content: url('../../../assets/img/ic/calendar-small-page.png');
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em ;
  background: #0d5982;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}

.filter-field {
  margin-right: 30px;
  margin-left: 8px;
}

.form-filter {
  display: flex;
  padding: 20px 0 10px 0;
}

.is-suggest-field {
  margin-bottom: -3px;
}

.empty-title {
  margin: 20px 0 0 20px;
  font-weight: 600;
  color: rgb(18 102 206);
}

.done-number-title {
  margin: 20px 0 0 20px;
  font-weight: 500;
  font-style: italic;
}

.test-list-frame {
  width: 100%;
  padding: 20px 5px 0px 5px;
  margin-bottom: -32px;
}

.info-test-frame {
  padding: 15px;
}

.search-frame {
  width: 100%;
  height: 10%;
  display: flex;
  padding-left: 18px;
  
}

.search-btn {
  background-color: #0d5982;
  color: white;
}

.page-title {
  width: 100%;
  height: auto;
  font-size: 1.5em;
  font-weight: 600;
  border-radius: 5px;
  margin-bottom: 15px;
  color: #0095ff;
}

.header-frame {
  width: 100%;
  border-radius: 5px;
}