.center {
  margin: 2% auto 0 auto;
  width: 80%;
  padding: 10px;
  height: 100%;
}

.center-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-vertical {
  display: flex;
  align-items: center;
}

.center-horizontal {
  display: flex;
  justify-content: center;
}

.date-bar {
  width: 190px;
  height: 40px;
  background: #ebebeb;
  clip-path: polygon(0% 0, 91% 0, 100% 50%, 91% 100%, 0 100%);
  color: #2f4cab;
}

.test-frame {
  border-radius: 14px;
  box-shadow: 0 0 6px 3px #cac8c8;
  width: 100%;
  height: auto;
  padding-top: 12px;
}

.test-value {
  font-weight: 600;
}

.test-title {
  font-weight: 600;
  color: #4f73eb;
}

.test-title:hover {
  font-weight: 700;
  cursor: pointer;
}

.test-submissions-scroll {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 600px;
}


#style-7::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	// background-color: #F5F5F5;
	border-radius: 10px;
}

#style-7::-webkit-scrollbar
{
	width: 6px;
}

#style-7::-webkit-scrollbar-thumb
{
	border-radius: 10px;
  background-color:  rgb(73,125,189);
}

/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.select {
  position: relative;
  display: flex;
  width: auto;
  height: 2em;
  line-height: 2;
  background: #0d5982;
  overflow: hidden;
  border-radius: .25em;
}
select {
  flex: 1;
  padding: 0 .5em;
  color: #fff;
  cursor: pointer;
}
/* Arrow */
.select::after {
  // content: '\25BC';
  content: url('../../../assets/img/ic/calendar-small-page.png');
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em ;
  background: #0d5982;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}

.filter-field {
  margin-right: 30px;
  margin-left: 8px;
}

.form-filter {
  display: flex;
  padding: 20px 0 10px 0;
}

.is-suggest-field {
  margin-bottom: -3px;
}

.empty-title {
  margin: 20px 0 0 20px;
  font-weight: 600;
  color: rgb(18 102 206);
}

.done-number-title {
  margin: 20px 0 0 20px;
  font-weight: 600;
  color: rgb(103, 9, 226);
}

.test-list-frame {
  width: 100%;
  padding: 20px 5px 0px 5px;
}

.info-test-frame {
  padding: 15px;
}

.search-btn {
  background-color: #0d5982;
  color: white;
}

.page-title {
  width: 100%;
  height: 15%;
  background-color: rgb(57, 199, 235);
  font-size: 1.5em;
  font-weight: 600;
  border-radius: 5px;
  color: white;
}

.header-frame {
  width: 100%;
  background-color: rgb(218, 235, 240);
  border-radius: 5px;
}