.mark {
  color: #1814e0;
  font-family: "Rouge Script", cursive;
  font-size: 6.5em;
  font-weight: normal;
  margin: 0 0 50px;
  text-align: center;
  text-shadow: 1px 1px 2px #082b34;
  padding-top: 10px;
}

.result {
  font-style: italic;
  font-weight: 600;
}

.center-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

.test-exam-scroll {
  overflow-y: scroll;
  height: 650px;
}

.center-vertical {
  display: flex;
  align-items: center;
}
