
<div *ngIf="test" gdAreas="score test" gdRows="auto auto" gdColumns="27% 73%" gdGap="32px"
gdAreas.lt-md="score | test" gdRows.lt-md="auto" gdColumns.lt-md="100%">
  <div gdArea="score" >
    <div class="score-frame">
      <h1 mat-dialog-title class="test-title">{{test.name}}</h1>
      <div *ngIf="!isScored">
        <!-- Khung giờ -->
        <div class="line-frame">
          <div class="center-vertical timer-title" >Thời gian còn lại:</div>
          <div class="center-all">
            <countdown class="count-down-frame" #cd [config]="{ leftTime: test.timeLimit * 60, format: test.timeLimit > 60 ? 'h:m:s' : 'm:s' }" 
              (event)="handleCoundown($event)">
            </countdown>
          </div>
        </div>
        <div class="line-frame">
          <div class="center-vertical timer-title" >Số câu hoàn thành:&nbsp;</div>
          <div class="center-vertical count-down-frame" >{{numberOfCompletedQuestion}}/{{test.numberOfQuestion}}</div>
        </div>
        <!-- Khung câu hỏi -->
        <div class="no-question-frame">
          <div fxLayout="row wrap" fxLayoutGap="7px grid" fxLayoutAlign="flex-start" >
              <div fxFlex="0 1 calc(11%)" *ngFor="let question of test.numberOfQuestion | toArray ; let i = index">
                <app-answer
                class="answer-item"
                (click)="answerClick(i)"
                [numericalOrder]="i"
                [selectedIndex]="selectedIndex"
                ></app-answer>
            </div>
          </div>
        </div>
        <div class="center-all score-frame-btn">
          <button (click)="onSubmitClick()" class="detail-btn" form="examSubmitForm">Nộp bài</button>
        </div>
      </div>
      <!-- Sau khi chấm điểm -->
      <div *ngIf="isScored">
        <div>
          <div mat-dialog-content>
              <p>Điểm:</p>
              <div class="mark">{{testSubmissionReponse.mark | number : '1.2-2'}}</div>
              <p>Số câu trả lời đúng: <span class="result">{{testSubmissionReponse.numberOfRightAnswers}}/{{testSubmissionReponse.numberOfQuestion}}</span></p>
              <p>Thời gian làm bài: <span class="result">{{testSubmissionReponse.spentTime}}/{{test.timeLimit}} phút</span></p>
          </div>
        </div>   

        <div class="center-all score-frame-btn">
          <button *ngIf="needDoneTestIds.length > 0" mat-raised-button color="primary" (click)="onDoMoreClick()" cdkFocusInitial>Làm tiếp</button>
          <button *ngIf="needDoneTestIds.length <= 0" mat-raised-button color="primary" (click)="reSuggestUni()" cdkFocusInitial>Xem kết quả gợi ý mới</button>
        </div>
      </div>
    </div>
  </div>
  <div class="test-exam-scroll" gdArea="test"  id="style-7" ngClass.lt-md="test-exam-scroll-lt-md">
    <mat-card  class="card question_widget">
      <mat-card-content class="card-body p-0">
        <form  [formGroup]="examSubmissionFormGroup" id="examSubmitForm">
          <div *ngFor="let question of test.questions; let i = index">
            <br/>
            <div *ngIf="question.isAnnotate">
              <span style="font-weight: bold; font-size: 1.2em">
                <div [innerHtml]="question.content | safeHtml"></div>
              </span>
            </div>
            <div *ngIf="!question.isAnnotate">
              <span id="{{question.realOrder}}" style="font-weight: bold; font-size: 1.2em">Câu {{ question.realOrder + 1 }}.
                <div [innerHtml]="question.content | safeHtml"></div>
              </span>
              <mat-radio-group formControlName="{{question.id}}"  aria-label="Select an option" [disabled]="isScored">
                <div *ngFor="let option of question.options; let j = index">
                  <div class="center-vertical">
                    <mat-radio-button value="{{ j }}" >
                      <div [innerHtml]="option.content | safeHtml"></div>
                    </mat-radio-button>
                  </div>
                </div>
              </mat-radio-group>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>  
  </div>
</div>

