mat-card {
    margin: 50px;
}   

.exam_page {
    position: relative;
}
.question_widget {
    position: absolute;
    left: 0;
}

.answer_widget {    
    right: 0;
    position: fixed;
    overflow: auto;
}
.answer_widget_content {
    width: 300px;
}

.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }


