<div gdAreas="name name name | year year submit | time question submit" gdGap="10px" gdRows="auto auto auto"
	gdAreas.lt-md="name name | year submit | time submit | question submit " gdRows.lt-md="auto auto auto auto">

	<div class="header" gdArea="name">
		<span class="test-title">{{test.name}}</span>
	</div>

	<div class="side" gdArea="year">
		Năm: {{test.year ? test.year : "Đang cập nhật"}}
	</div>

	<div class="submit" gdArea="submit">
		<button mat-raised-button color="primary" (click)="loadTest(test.id)">{{doneTestIds.includes(test.id) ? 'Thi lại' : 'Thi'}}</button>
	</div>

  <div class="side" gdArea="time">
		Thời gian: {{test.timeLimit ? test.timeLimit : "Đang cập nhật"}}
	</div>

	<div class="content" gdArea="question">
		Số câu hỏi: {{test.numberOfQuestion}}
	</div>

</div>