<div class="exam-list">
  <h2 class="title-page center-all">DANH SÁCH ĐỀ THI THEO MÔN</h2>
  <div style="display: grid; grid-template-columns: auto auto auto auto">
    <div class="subject-frame" [routerLink]="['../examination-list-by-subject/1']">      
      <div class="center-all img-frame">
        <img class="subject-img" alt="Toán" src="../../../assets/img/ic/icon_toan.jpg">
      </div>
      <h2 class="course-name center-all">TOÁN</h2>
      <div class="center-all">
        <button class="detail-btn">Xem chi tiết</button>
      </div>
    </div>
    <div class="subject-frame" [routerLink]="['../examination-list-by-subject/5']">
      <div class="center-all img-frame">
        <img class="subject-img" alt="Toán" src="../../../assets/img/ic/icon_anh.jpg">
      </div>
      <h2 class="course-name center-all">ANH VĂN</h2>
      <div class="center-all">
        <button class="detail-btn">Xem chi tiết</button>
      </div>
    </div>
    <div class="subject-frame" [routerLink]="['../examination-list-by-subject/3']">
      <div class="center-all img-frame">
        <img class="subject-img" alt="Toán" src="../../../assets/img/ic/icon_ly.jpg">
      </div>
      <h2 class="course-name center-all">VẬT LÝ</h2>
      <div class="center-all">
        <button class="detail-btn">Xem chi tiết</button>
      </div>
    </div>
    <div class="subject-frame" [routerLink]="['../examination-list-by-subject/4']">
      <div class="center-all img-frame">
        <img class="subject-img" alt="Toán" src="../../../assets/img/ic/icon_hoa.jpg">
      </div>
      <h2 class="course-name center-all">HÓA HỌC</h2>
      <div class="center-all">
        <button class="detail-btn">Xem chi tiết</button>
      </div>
    </div>
    <div class="subject-frame" [routerLink]="['../examination-list-by-subject/6']">
      <div class="center-all img-frame">
        <img class="subject-img" alt="Toán" src="../../../assets/img/ic/icon_sinh.jpg">
      </div>
      <h2 class="course-name center-all">SINH HỌC</h2>
      <div class="center-all">
        <button class="detail-btn">Xem chi tiết</button>
      </div>
    </div>  <div class="subject-frame" [routerLink]="['../examination-list-by-subject/7']">
      <div class="center-all img-frame">
        <img class="subject-img" alt="Toán" src="../../../assets/img/ic/icon_dia.jpg">
      </div>
      <h2 class="course-name center-all">ĐỊA LÝ</h2>
      <div class="center-all">
        <button class="detail-btn">Xem chi tiết</button>
      </div>
    </div>  
    <div class="subject-frame" [routerLink]="['../examination-list-by-subject/8']">
      <div class="center-all img-frame">
        <img class="subject-img" alt="Toán" src="../../../assets/img/ic/icon_su.jpg">
      </div>
      <h2 class="course-name center-all">LỊCH SỬ</h2>
      <div class="center-all">
        <button class="detail-btn">Xem chi tiết</button>
      </div>
    </div>
    <div class="subject-frame" [routerLink]="['../examination-list-by-subject/9']">
      <div class="center-all img-frame">
        <img class="subject-img" alt="Toán" src="../../../assets/img/ic/icon_gdcd.jpg">
      </div>
      <h2 class="course-name center-all">GDCD</h2>
      <div class="center-all">
        <button class="detail-btn">Xem chi tiết</button>
      </div>
    </div>   
  </div>

</div>