<div class="pt-2">
  <span class="text-xl">THÊM MÙA MỚI VÀO HỆ THỐNG</span>               
</div>
<nz-divider></nz-divider>
<div class="d-flex">
  <div class="col-md-4">
    <label for="">Tên mùa</label>
    <input type="text" nz-input [formControl]="createForm.get('name')">
  </div>
  <div class="col-md-4">
    <label for="">Ngày bắt đầu</label>
    <nz-date-picker        
    [formControl]="createForm.get('fromDate')"        
    nzFormat="yyyy-MM-dd"                                            
  ></nz-date-picker>
  </div>
  <div class="col-md-4">
    <label for="">Sao chép từ mùa</label>
    <nz-select [formControl]="createForm.get('seasonSourceId')" style="width: 100%;">
      <nz-option *ngFor="let season of listOfSeason" [nzValue]="season.id" [nzLabel]="season.name"></nz-option>      
    </nz-select>
  </div>
</div>
<nz-divider></nz-divider>
<div class="footer">
  <button nz-button nzType="primary" class="mr-2" [disabled]="createForm.invalid" (click)="createSeason()" [nzLoading]="isLoading">Thêm</button>
  <button nz-button nzType="dashed" (click)="closeModal()">Thoát</button>
</div>
