<div class="university-detail"> 
  <div class="container-fluid" >
    <div nz-row>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24" class="mb-2">
        <nb-card style="margin: auto; width: 99%; position: relative">
          <nb-card-body style="width: 100%">
            <div style="width: 100%">
              <div class="row align-items-center ng-star-inserted">
                <div class="col-md-6">
                  <div class="d-md-flex align-items-center">
                    <nz-avatar nzShape="square" [nzSrc]="university != undefined ?  university.logoUrl : ''" nz-size="150"></nz-avatar>
                    <div class="text-center text-sm-left m-v-15 p-l-30 col-md-8">
                      <div class="d-flex">
                        <div class="col-md-8 pl-0">                                                                                                                            
                          <label class="ml-1" for="">Tên trường</label>                          
                          <nb-form-field>  
                            <nb-icon status="info" nbPrefix icon="home-outline"></nb-icon>  
                            <input  text-hint-color [formControl]="updateUniForm.get('name')" type="text" placeholder=""  fullWidth nbInput 
                            [status]="updateUniForm.get('name').invalid && (updateUniForm.get('name').touched || updateUniForm.get('name').dirty) ? 'danger' : 'info'"/>
                          </nb-form-field>
                        </div>
                        <div class="col-md-4 pr-0">                          
                          <label class="ml-1" for="">Code</label>
                          <nb-form-field>    
                            <i nbPrefix nz-icon nzType="key" nzTheme="outline" style="font-size: large"></i>                                            
                            <input [formControl]="updateUniForm.get('code')" type="text" placeholder=""  fullWidth nbInput 
                            [status]="updateUniForm.get('code').invalid && (updateUniForm.get('code').touched || updateUniForm.get('code').dirty) ? 'danger' : 'info'"/>
                          </nb-form-field>
                        </div>
                      </div>                      
                      <div class="mt-2">                        
                        <nb-form-field>
                          <textarea [formControl]="updateUniForm.get('description')" nbInput fullWidth placeholder="Mô tả" fieldSize="large"></textarea>
                        </nb-form-field>
                      </div>                                            
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row">
                    <div class="d-md-block border-left p-0" style="width: 20px;"></div>
                    <div class="col">
                      <ul class="list-unstyled m-t-10">
                        <li class="row mt-2">
                          <p class="col-sm-2 col-4 font-weight-semibold text-dark m-b-5 p-0">                            
                            <span class="label">Website: </span>
                          </p>
                          <div class="col pl-0">
                            <nb-form-field>
                              <nb-icon [status]="'info'" nbPrefix icon="globe-outline"></nb-icon>
                              <input [fieldSize]="'small'" [formControl]="updateUniForm.get('webUrl')" nbInput fullWidth type="text"
                              [status]="updateUniForm.get('webUrl').invalid && (updateUniForm.get('webUrl').touched || updateUniForm.get('webUrl').dirty) ? 'danger' : 'basic'">
                            </nb-form-field>
                          </div>
                        </li>
                        <li class="row mt-2">
                          <p class="col-sm-2 col-3 font-weight-semibold text-dark m-b-5 p-0">                            
                            <span class="label">Điện Thoại: </span>
                          </p>
                          <div class="col pl-0">
                            <nb-form-field>
                              <nb-icon nbPrefix icon="phone-outline"></nb-icon>
                              <input [fieldSize]="'small'" [formControl]="updateUniForm.get('phone')" nbInput type="text" fullWidth
                              [status]="updateUniForm.get('phone').invalid && (updateUniForm.get('phone').touched || updateUniForm.get('phone').dirty) ? 'danger' : 'info'">
                              
                            </nb-form-field>                            
                          </div>
                        </li>
                        <li class="row mt-2">
                          <p class="col-sm-2 col-4 font-weight-semibold text-dark m-b-5 p-0">                            
                            <span class="label" style="font-weight: bold;">Địa Chỉ: </span>
                          </p>
                          <div class="col pl-0">
                            <nb-form-field>
                              <nb-icon nbPrefix icon="home-outline"></nb-icon>
                              <input [fieldSize]="'small'" nbInput type="text" [formControl]="updateUniForm.get('address')" fullWidth
                              [status]="updateUniForm.get('address').invalid && (updateUniForm.get('address').touched || updateUniForm.get('webUrl').dirty) ? 'danger' : 'info'">
                            </nb-form-field>
                          </div>
                        </li>
                        <li class="row mt-2">
                          <p class="col-sm-2 col-4 font-weight-semibold text-dark m-b-5 p-0">                            
                            <span class="label">Học Phí: </span>
                          </p>                          
                          <div class="p-0" style="width: 290px; position: relative;">
                            <span style="
                              position: absolute;
                              height: 100%;
                              display: flex;
                              align-items: center;
                              left: 15px;
                          ">Từ</span>
                            <span style="
                              position: absolute;
                              height: 100%;
                              display: flex;
                              right: 15px;
                              align-items: center;
                          ">.000 (VND)</span>
                            <nb-form-field>                              
                              <input nbInput type="text" style="text-align: right; padding-left: 40px; padding-right: 90px;" [formControl]="updateUniForm.get('tuitionFrom')" fullWidth mask="separator.2" thousandSeparator="."
                              [status]="updateUniForm.get('tuitionFrom').invalid && (updateUniForm.get('tuitionFrom').touched || updateUniForm.get('tuitionFrom').dirty) ? 'danger' : 'info'">
                            </nb-form-field>                            
                          </div>
                          <div class="p-0" style="width: 290px; position: relative;">
                            <span style="
                              position: absolute;
                              height: 100%;
                              display: flex;
                              align-items: center;
                              left: 15px;
                          ">Đến</span>
                            <span style="
                              position: absolute;
                              height: 100%;
                              display: flex;
                              right: 15px;  
                              align-items: center;
                          ">.000 (VND)</span>
                            <nb-form-field>                              
                              <input nbInput type="text" style="text-align: right; padding-left: 40px; padding-right: 90px;" [formControl]="updateUniForm.get('tuitionTo')" fullWidth mask="separator.2" thousandSeparator="."
                              [status]="updateUniForm.get('tuitionTo').invalid && (updateUniForm.get('tuitionTo').touched || updateUniForm.get('tuitionTo').dirty) ? 'danger' : 'info'">
                            </nb-form-field>                            
                          </div>                          
                          <div style="width: 120px;">
                            <nb-select style="width: 100%" [formControl]="updateUniForm.get('tuitionType')"
                            [status]="updateUniForm.get('tuitionType').invalid && (updateUniForm.get('tuitionType').touched || updateUniForm.get('tuitionType').dirty) ? 'danger' : 'info'">        
                              <nb-option [value]="0">Năm</nb-option>
                              <nb-option [value]="1">Kì</nb-option>        
                            </nb-select>
                          </div>                                                                       
                        </li>
                      </ul>
                      <div class="d-flex justify-content-end">                                                
                        <button (click)="updateUni()" nz-button >Lưu</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </div>
  

  <div class="container-fluid" style=" z-index: 0;">
    <div nz-row>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24" class="mb-2">
        <nb-card style="margin: auto; width: 99%; position: relative">
          <nb-card-body style="width: 100%">
            <div style="width: 100%;">              
              <button style="float: right; margin-bottom: 1rem" (click)="openCreateMajorModal(undefined)" nbButton status="primary">
                <nb-icon icon="plus-outline"></nb-icon>Thêm Ngành
              </button>
              <nz-table #majorTable nzBordered [nzData]="listOfMajor" [nzShowTotal]="totalTemplate">
                <!-- <thead>
                  <tr>
                    <th rowspan="3" style="background-color: #87ceeb;">
                      <div style="width: 100%; text-align: center;">STT</div>
                    </th>
                    <th rowspan="3" style="background-color: #87ceeb;">
                      <div style="width: 100%; text-align: center;">Thao Tác</div>
                    </th>
                    <th rowspan="3" style="background-color: #87ceeb;">
                      <div style="width: 100%; text-align: center;">Ngành</div>
                    </th>                    
                    <th rowspan="3" style="background-color: #87ceeb;"> 
                      <div style="width: 100%; text-align: center;">Code</div>
                    </th>
                    <th rowspan="3" style="background-color: #87ceeb;">
                      <div style="width: 100%; text-align: center;">Chỉ Tiêu</div>
                    </th>                    
                    <th colspan="3" style="background-color: #87ceeb;">
                      <div style="width: 100%; text-align: center;">Khối</div>
                    </th>                    
                  </tr>
                  <tr>
                    <th rowspan="2" style="background-color: #87ceeb;">
                      <div style="width: 100%; text-align: center;">Tên</div>
                    </th>
                    <th colspan="2" style="background-color: #87ceeb;">
                      <div style="width: 100%; text-align: center;">Năm</div>
                    </th>
                  </tr>
                  <tr>
                    <th style="background-color: #87ceeb;">
                      <div style="width: 100%; text-align: center;">2019</div>
                    </th>
                    <th style="background-color: #87ceeb;">
                      <div style="width: 100%; text-align: center;">2020</div>
                    </th>
                  </tr>
                </thead> -->

                <thead>
                  <tr>
                    <th style="background-color: #87ceeb;">
                      <div style="width: 100%; text-align: center;">STT</div>
                    </th>
                    <th style="background-color: #87ceeb;">
                      <div style="width: 100%; text-align: center;">Thao Tác</div>
                    </th>
                    <th style="background-color: #87ceeb;">
                      <div style="width: 100%; text-align: center;">Ngành</div>
                    </th>                    
                    <th style="background-color: #87ceeb;"> 
                      <div style="width: 100%; text-align: center;">Code</div>
                    </th>
                    <th style="background-color: #87ceeb;">
                      <div style="width: 100%; text-align: center;">Chỉ Tiêu</div>
                    </th>                    
                    <th colspan="3" style="background-color: #87ceeb;">
                      <div class=".flex-container-custom" style="width: 100%; text-align: center;">
                        <div>Khối</div>
                        <div class="d-flex">
                          <div>Tên</div>
                          <div>Năm</div>
                        </div>
                      </div>
                    </th>                    
                  </tr>                  
                </thead>
                <!-- <tbody>
                  <ng-container *ngFor="let major of listOfMajor; let i = index">
                    <tr>
                      <td class="stt importantInfo" [attr.rowspan]="major.subjectGroups.length + 1">{{i + 1}}</td>                      
                      <td class="action" [attr.rowspan]="major.subjectGroups.length + 1">
                        <i style="cursor: pointer" [nzDropdownMenu]="menu1" nz-icon nz-dropdown nzType="ellipsis"></i>
                        <nz-dropdown-menu #menu1="nzDropdownMenu">
                          <ul nz-menu>
                            <li nz-menu-item (click)="openCreateMajorModal(major)">
                              <i nz-icon nzType="edit" nzTheme="outline"></i>
                              <span class="p-3">Sửa</span>
                            </li>
                            <li nz-menu-divider></li>
                            <li nz-menu-item>
                              <nb-icon icon="trash"></nb-icon>
                              <span class="p-3">Xóa</span>
                            </li>
                          </ul>
                        </nz-dropdown-menu>
                      </td>
                      <td class="name importantInfo" [attr.rowspan]="major.subjectGroups.length + 1">{{major.name}}</td>
                      <td class="code importantInfo" [attr.rowspan]="major.subjectGroups.length + 1">{{major.code}}</td>
                      <td [attr.rowspan]="major.subjectGroups.length + 1">                        
                        <span *ngIf="major.numberOfStudents !== 0; else missNumberOfStudent">{{major.numberOfStudents}}</span>
                        <ng-template #missNumberOfStudent>
                          <span>
                            <nb-icon status="danger" size="large" icon="close-outline"></nb-icon>
                          </span>
                        </ng-template>
                      </td>                       
                    </tr>                                        

                    <ng-container *ngFor="let subjectGroup of major.subjectGroups">
                      <tr>                      
                        <td>{{subjectGroup.groupCode}}</td>    
                        <ng-container *ngFor="let entryMark of subjectGroup.entryMarks">
                          <td>
                            <span *ngIf="entryMark.mark !== 0; else missEntryMark">{{entryMark.mark}}</span>    
                            <ng-template #missEntryMark>
                              <nb-icon status="danger" size="large" icon="close-outline"></nb-icon>
                            </ng-template>                        
                          </td>                          
                        </ng-container>
                      </tr>                                             
                    </ng-container> 
                    
                  </ng-container>                  
                </tbody> -->

                <!-- <tbody>
                  <ng-container *ngFor="let major of majorTable.data; let i = index">
                    <tr [style.backgroundColor]="i % 2 == 1 ? '#f7f7f7' : '#fff'">
                      <td class="stt" [attr.rowspan]="major.subjectGroups.length + 1">{{i + 1}}</td>                      
                      <td class="action" [attr.rowspan]="major.subjectGroups.length + 1">
                        <i style="cursor: pointer" [nzDropdownMenu]="menu1" nz-icon nz-dropdown nzType="ellipsis"></i>
                        <nz-dropdown-menu #menu1="nzDropdownMenu">
                          <ul nz-menu>
                            <li nz-menu-item (click)="openCreateMajorModal(major)">
                              <i nz-icon nzType="edit" nzTheme="outline"></i>
                              <span class="p-3">Sửa</span>
                            </li>
                            <li nz-menu-divider></li>
                            <li nz-menu-item>
                              <nb-icon icon="trash"></nb-icon>
                              <span class="p-3">Xóa</span>
                            </li>
                          </ul>
                        </nz-dropdown-menu>
                      </td>
                      <td class="name" [attr.rowspan]="major.subjectGroups.length + 1">{{major.name}}</td>
                      <td class="code" [attr.rowspan]="major.subjectGroups.length + 1">{{major.code}}</td>
                      <td [attr.rowspan]="major.subjectGroups.length + 1">                        
                        <span *ngIf="major.numberOfStudents !== 0; else missNumberOfStudent">{{major.numberOfStudents  | mask: 'separator':'.'}}</span>
                        <ng-template #missNumberOfStudent>
                          <span>
                            <nb-icon status="danger" size="large" icon="close-outline"></nb-icon>
                          </span>
                        </ng-template>
                      </td>                       
                    </tr>                                        

                    <ng-container *ngFor="let subjectGroup of major.subjectGroups; let y = index">
                      <tr [style.backgroundColor]="y % 2 == 0 ? '#f7f7f7' : '#fff'">                      
                        <td>{{subjectGroup.groupCode}}</td>    
                        <ng-container *ngFor="let entryMark of subjectGroup.entryMarks">
                          <td>
                            <span *ngIf="entryMark.mark !== 0; else missEntryMark">{{entryMark.mark}}</span>    
                            <ng-template #missEntryMark>
                              <nb-icon status="danger" size="large" icon="close-outline"></nb-icon>
                            </ng-template>                        
                          </td>                          
                        </ng-container>
                      </tr>                                             
                    </ng-container> 
                    
                  </ng-container>                  
                </tbody> -->
                <tbody>
                  <ng-container *ngFor="let major of majorTable.data; let i = index">
                    <tr [style.backgroundColor]="i % 2 == 1 ? '#f7f7f7' : '#fff'">
                      <ng-container [ngSwitch]="major.subjectGroups.length">
                        <ng-container *ngSwitchCase="1">                        
                            <td>{{i + 1}}</td>
                            <td>...</td>
                            <td>{{major.name}}</td>
                            <td>{{major.code}}</td>
                            <td>{{major.numberOfStudents}}</td>
                            <td>{{major.subjectGroups[0].groupCode}}</td>
                            <td>{{major.subjectGroups[0].entryMarks[0].mark}}</td>
                            <td>{{major.subjectGroups[0].entryMarks[1].mark}}</td>                                              
                        </ng-container>
                        <ng-container *ngSwitchDefault>                        
                            <td class="stt">{{i + 1}}</td>
                            <td class="action">
                              <i style="cursor: pointer" [nzDropdownMenu]="menu1" nz-icon nz-dropdown nzType="ellipsis"></i>
                        <nz-dropdown-menu #menu1="nzDropdownMenu">
                          <ul nz-menu>
                            <li nz-menu-item (click)="openCreateMajorModal(major)">
                              <i nz-icon nzType="edit" nzTheme="outline"></i>
                              <span class="p-3">Sửa</span>
                            </li>
                            <li nz-menu-divider></li>
                            <li nz-menu-item>
                              <nb-icon icon="trash"></nb-icon>
                              <span class="p-3">Xóa</span>
                            </li>
                          </ul>
                        </nz-dropdown-menu>
                            </td>
                            <td class="name">{{major.name}}</td>
                            <td class="code">{{major.code}}</td>
                            <td class="numberOfStudent">{{major.numberOfStudents}}</td>
                            <td style="padding: 0;">
                              <div class="flex-container-custom">
                                <div class="td-border-children" *ngFor="let subjectGroup of major.subjectGroups">
                                  <span>{{subjectGroup.groupCode}}</span>                                
                                </div>
                              </div>
                            </td> 
                            <td style="padding: 0;">
                              <div class="flex-container-custom">
                                <div class="td-border-children" *ngFor="let subjectGroup of major.subjectGroups">
                                  <span>{{subjectGroup.entryMarks[0].mark}}</span>
                                </div>                              
                              </div>
                            </td>
                            <td style="padding: 0;">
                              <div class="flex-container-custom">
                                <div class="td-border-children" *ngFor="let subjectGroup of major.subjectGroups">
                                  <span>{{subjectGroup.entryMarks[1].mark}}</span>
                                </div>                              
                              </div>
                            </td>                        
                        </ng-container>                      
                      </ng-container>
                    </tr>                    
                  </ng-container>
                </tbody>
              </nz-table>
            </div>
          </nb-card-body>
        </nb-card>
      </div>      
    </div>
  </div>
</div>

<ng-template #totalTemplate let-total>Total {{ total }} items</ng-template>
