.university-detail {
  width: 100%;
  height: 100%;
  padding: 1rem;
  overflow: auto;
  position: relative;
  // max-height: 50rem;
}

span.label {
  margin: 0.2rem;
}

nz-avatar {
  width: 150px;
  height: 150px;
  line-height: 150px;
}

.p-l-30 {
  padding-left: 30px !important;
}

.m-v-15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.text-gray {
  color: #72849a !important;
}
.p-r-20 {
  padding-right: 20px !important;
}

th {
  font-size: 1rem;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  text-align: center;
}

td {
  font-size: 1rem;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  text-align: center;
  width: 10%;
}

.stt,
.code,
.action {
  width: 2%;
}
.numberOfStudent {
  width: 4%;
}

.name {
  width: 15%;
}

.flex-container-custom {
  display: flex;
  flex-direction: column;
}

.td-border-children {
  border-bottom: 1px solid #f0f0f0;
  height: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.td-border-children:last-child {
  border-bottom: none;
}

nb-select {
  ::ng-deep {
    button {
      min-width: 4rem !important;
    }
  }
}

label {
  margin: 0;
}

.label-form {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 80px;
}

.rating {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 60px;
}

label {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.bold500 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 500;
}

.groupCodeName, .mark2019, .mark2020 {
  width: 5%;
}