.university-detail {
  width: 100%;
  height: 100%;
  padding: 1rem;
  overflow: auto;
  position: relative;
}

span.label {
  margin: 0.2rem;
}

h5,
p {
  font-family: "Poppins", "Segoe UI", "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgba(42, 42, 42, 0.75);
}
nz-avatar {
  width: 150px;
  height: 150px;
  line-height: 150px;
}

.p-l-30 {
  padding-left: 30px !important;
}

.m-v-15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.text-gray {
  color: #72849a !important;
}
.p-r-20 {
  padding-right: 20px !important;
}

th {
  font-size: 1rem;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  text-align: center;
}

td {
  font-size: 1rem;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  text-align: center;
  width: 10%;
}

.stt,
.code,
.action {
  width: 2%;
}
.numberOfStudent {
  width: 4%;
}
.importantInfo {
  font-size: 1rem;
  // font-family: 'Courier New', Courier, monospace;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  font-weight: 500;
}

.name {
  width: 20%;
}

.my-text {
  font-family: nb-theme(font-family-primary);
  color: nb-theme(text-hint-color);
}

.flex-container-custom {
  display: flex;
  flex-direction: column;
}

.td-border-children {
  border-bottom: 1px solid #f0f0f0;
  height: 1.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.td-border-children:last-child {
  border-bottom: none;
}

nb-select {
  ::ng-deep {
    button {
      min-width: 5rem !important;
    }
  }
}
