.center {
  margin: 2% auto 0 auto;
  width: 80%;
  height: 100%;
}

.center-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-vertical {
  display: flex;
  align-items: center;
}

.center-horizontal {
  display: flex;
  justify-content: center;
}

.menu-item {
  width: 100%;
  padding-left: 10%;
}

.menu-item:hover {
  cursor: pointer;
  font-size: 1.1em;
  color: rgb(39, 122, 231);
}

.menu-frame {
  height: 91%;
  background-color: rgb(210 226 239);
  border-radius: 5px;
}

.personal-info-title {
  margin-bottom: 5%;
  width: 100%;
  height: 7%;
  background-color: rgb(129, 163, 236);
  font-weight: bold;
  font-size: 1.4em;
  border-radius: 5px;
}

.title-menu {
  border: 2px solid rgb(56, 97, 231);
  border-radius: 15px;
  width: 100%;
  font-weight: 500;
  height: 70%;
}