<div class="center" >
  <div gdAreas="menu content" gdRows="auto auto" gdColumns="27% 73%" 
  gdAreas.lt-md="menu | content" gdColumns.lt-md="100%">
    <div  gdArea="menu" class="menu-section" ngClass.lt-md="menu-frame-lt-md">
      <div class="center-all personal-info-title">
        THÔNG TIN CÁ NHÂN
      </div>
      <div class="menu-frame">
        <mat-list>
          <mat-list-item>
            <div class="center-vertical title-menu">
            <mat-icon style="font-size: 100vi; margin-right: 4px;" aria-hidden="false" >account_circle</mat-icon>Tài khoản</div>
          </mat-list-item>
          <mat-list-item  routerLink="./information" routerLinkActive="active">
            <div class="center-vertical menu-item">
              <mat-icon class="center-vertical" style="font-size: 10px;" aria-hidden="false">fiber_manual_record</mat-icon>Thông tin chi tiết
            </div>
          </mat-list-item>
          <mat-list-item>
            <div class="center-vertical title-menu">
            <mat-icon style="font-size: 100vi; margin-right: 4px;" aria-hidden="false" >assignment</mat-icon>Kết quả ghi nhận</div>
          </mat-list-item>
          <mat-list-item routerLink="./caring-majors" routerLinkActive="active" >
            <div class="center-vertical  menu-item">
              <mat-icon class="center-vertical" style="font-size: 10px;" aria-hidden="false">fiber_manual_record</mat-icon>Ngành học quan tâm
            </div>
          </mat-list-item>
          <mat-divider style="width: 80%; margin-left: 10%;"></mat-divider>
          <mat-list-item routerLink="./caring-universities" routerLinkActive="active">
            <div class="center-vertical  menu-item">
              <mat-icon class="center-vertical" style="font-size: 10px;" aria-hidden="false">fiber_manual_record</mat-icon>Trường đại học quan tâm
            </div>
          </mat-list-item>
          <mat-divider style="width: 80%; margin-left: 10%;"></mat-divider>
          <mat-list-item routerLink="./test-submissions" routerLinkActive="active" >
            <div class="center-vertical menu-item">
              <mat-icon class="center-vertical " style="font-size: 10px;" aria-hidden="false">fiber_manual_record</mat-icon>Kết quả thi thử
            </div>
          </mat-list-item>
        </mat-list>
      </div>
    </div>  
    <div gdArea="content" class="content-section">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
