<div class="center" >
  <div style="width: 100%; height: 100%;" fxLayout="row wrap" fxLayoutAlign="flex-start">
    <div fxFlex="0 1 calc(27% - 32px)" fxFlex.lt-sm="100%" style="margin-right: 32px;">
      <div style="margin-bottom: 5%; width: 100%; height: 7%; background-color: rgb(129, 163, 236); font-weight: bold; font-size: 1.4em; border-radius: 7px;" class="center-all">
        THÔNG TIN CÁ NHÂN
      </div>
      <div class="menu-frame">
        <mat-list>
          <mat-list-item>
            <div style=" border: 2px solid rgb(56, 97, 231);
            border-radius: 15px; width: 100%; font-weight: 500; height: 70%;" class="center-vertical">
            <mat-icon style="font-size: 100vi; margin-right: 4px;" aria-hidden="false" >account_circle</mat-icon>Tài khoản</div>
          </mat-list-item>
          <mat-list-item  routerLink="./information" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <div class="center-vertical menu-item">
              <mat-icon class="center-vertical" style="font-size: 10px;" aria-hidden="false">fiber_manual_record</mat-icon>Thông tin chi tiết
            </div>
          </mat-list-item>
          <mat-list-item>
            <div style=" border: 2px solid rgb(56, 97, 231);
            border-radius: 15px; width: 100%; font-weight: 500; height: 70%;" class="center-vertical">
            <mat-icon style="font-size: 100vi; margin-right: 4px;" aria-hidden="false" >assignment</mat-icon>Kết quả ghi nhận</div>
          </mat-list-item>
          <mat-list-item routerLink="./caring-majors" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <div class="center-vertical  menu-item">
              <mat-icon class="center-vertical" style="font-size: 10px;" aria-hidden="false">fiber_manual_record</mat-icon>Ngành học quan tâm
            </div>
          </mat-list-item>
          <mat-divider style="width: 80%; margin-left: 10%;"></mat-divider>
          <mat-list-item routerLink="./caring-universities" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <div class="center-vertical  menu-item">
              <mat-icon class="center-vertical" style="font-size: 10px;" aria-hidden="false">fiber_manual_record</mat-icon>Trường đại học quan tâm
            </div>
          </mat-list-item>
          <mat-divider style="width: 80%; margin-left: 10%;"></mat-divider>
          <mat-list-item routerLink="./test-submissions" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <div class="center-vertical menu-item">
              <mat-icon class="center-vertical " style="font-size: 10px;" aria-hidden="false">fiber_manual_record</mat-icon>Kết quả thi thử
            </div>
          </mat-list-item>
        </mat-list>
      </div>
    </div>  
    <div fxFlex="0 1 calc(73%)">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
