<div>
  <div class="flex items-center py-3">
    <div class="text-xl">{{modalTitle}}</div>
    <div class="flex-auto"></div>
    <button nbButton (click)="closeModal()"><nb-icon pack="eva" icon="close-outline"></nb-icon></button>
  </div>
  <div class="flex">
    <div class="col-md-12">
      <label for="">Tên Ngành</label>
      
      <nb-form-field>
        <nb-icon nbPrefix icon="briefcase-outline"></nb-icon>
        <input fullWidth [formControl]="majorForm.get('name')" nbInput type="text" placeholder="Nhập tên ngành" [nbAutocomplete]="autoControl" [status]="majorForm.get('name').invalid && (majorForm.get('name').touched || majorForm.get('name').dirty) ? 'danger' : 'info'"/>
        <nb-autocomplete #autoControl>
          <nb-option *ngFor="let option of filteredControlOptions$ | async" [value]="option.id">
            {{ option.name }}
          </nb-option>
        </nb-autocomplete>
      </nb-form-field>      
    </div>                
  </div>
  <div class="flex mt-2">
    <div class="col-md-6">
      <label for="">Code</label>
      <nb-form-field>
        <!-- <nb-icon nbPrefix icon="code-outline" pack="eva"></nb-icon> -->
        <!-- <nb-icon nbPrefix icon="key" pack="font-awesome"></nb-icon> -->
        <i nbPrefix nz-icon nzType="key" nzTheme="outline"></i>
        <input [formControl]="majorForm.get('code')" type="text" placeholder="" fullWidth nbInput [status]="majorForm.get('code').invalid && (majorForm.get('code').touched || majorForm.get('code').dirty) ? 'danger' : 'info'"/>        
      </nb-form-field>
    </div>
    <div class="col-md-6">
      <label for="">Chỉ Tiêu</label>
      <nb-form-field>
        <nb-icon nbPrefix icon="layers-outline" pack="eva"></nb-icon>
        <input [formControl]="majorForm.get('numberOfStudent')" type="text" placeholder="" fullWidth nbInput/>        
      </nb-form-field>
    </div>    
  </div>
  <div *ngFor="let field of listField; let i = index" class="flex mt-2">
    <div class="col-md-6">
      <label for="">Khối</label>
      <input type="text" [formControl]="field.get('groupCode')" fullWidth nbInput>
    </div>    
    <div [class]="listField.length === 1 ? 'col-md-3': 'col-md-2 pr-0'">
      <label for="" style="font-size: smaller;">Điểm chuẩn 2019</label>
      <input [formControl]="field.get('entryMark1')" type="number" placeholder="" fullWidth nbInput/>        
    </div>
    <div [class]="listField.length === 1 ? 'col-md-3': 'col-md-2 pr-0'">     
      <label for="" style="font-size: smaller;">Điểm chuẩn 2020</label> 
      <input [formControl]="field.get('entryMark2')" type="number" placeholder="" fullWidth nbInput/>        
    </div>
    <div [class]="listField.length != 1 ? 'col-md-2 d-flex justify-content-end pt-4': 'display-none'">            
      <button (click)="removeField(i)" nbButton status="danger">
        <nb-icon icon="minus-outline"></nb-icon>
      </button>       
    </div>
  </div>
  <div class="footer">
    <button (click)="addField()" nz-button nzType="default" nz-tooltip>
      <nb-icon icon="plus"></nb-icon>
    </button>
    <button *ngIf="!data" (click)="submitForm()" [disabled]="majorForm?.invalid" nz-button [nzSize]="'medium'" nzType="primary">
      Thêm 
    </button>
    <button *ngIf="data" (click)="updateForm()" [disabled]="majorForm?.invalid" nz-button [nzSize]="'medium'" nzType="primary">
      Lưu 
    </button>
    <button (click)="cancle()"  nz-button [nzSize]="'medium'" nzType="basic">
      Thoát 
    </button>
  </div>
</div>

<!-- <nb-form-field>        
        <nb-icon nbPrefix icon="book-open-outline" pack="eva"></nb-icon>
        <input [formControl]="majorForm.get('name')" type="text" placeholder="" fullWidth nbInput [status]="majorForm.get('name').invalid && (majorForm.get('name').touched || majorForm.get('name').dirty) ? 'danger' : 'info'"/>
      </nb-form-field> -->
