<div style="width: 100%; height: auto;">
  <div style="width: 100%; background-color: rgb(218, 235, 240);border-radius: 15px;">
    <div style="width: 100%; height: 15%; background-color: rgb(57, 199, 235); font-size: 1.5em; font-weight: 600; border-radius: 15px;" class="center-all">DANH SÁCH CÁC NGÀNH HỌC QUAN TÂM</div>
  </div>
  <div *ngIf="majorBasedFollowingDetails" style="width: 100%; padding: 5px 5px 0 5px;">
    <mat-accordion>
      <div *ngFor="let majorBasedFollowingDetail of majorBasedFollowingDetails">
        <div *ngFor="let trainingProgramGroupByMajorDataSet of majorBasedFollowingDetail.trainingProgramGroupByMajorDataSets" class="expansion-frame">
            <mat-expansion-panel >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{majorBasedFollowingDetail.name}} - {{trainingProgramGroupByMajorDataSet.name}}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="uni-scroll content" id="style-7">
                <div fxLayout="row wrap" fxLayoutGap="32px grid" fxLayoutAlign="flex-start">
                  <div *ngFor="let universityGroupByTrainingProgramDataSet of trainingProgramGroupByMajorDataSet.universityGroupByTrainingProgramDataSets" fxFlex="0 1 calc(50%)"  fxFlex.lt-md="0 1 calc(50%)"
                  fxFlex.lt-sm="100%">
                    <div style="width: 100%; height: auto; padding-top: 12px;" class="test-frame">
                      <div class="name-bar center-all major-title">
                        {{universityGroupByTrainingProgramDataSet.name}}</div>
                      <div style=" padding: 15px;">
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                          <div>Chỉ tiêu năm 2021:</div>
                          <div class="information-value">{{universityGroupByTrainingProgramDataSet.seasonDataSet.numberOfStudents}}</div>
                        </div>
                        <mat-divider class="devider"></mat-divider>
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                          <div>Thứ hạng:</div>
                          <div class="information-value">{{universityGroupByTrainingProgramDataSet.positionOfUser}}/{{universityGroupByTrainingProgramDataSet.totalUserCared}}</div>
                        </div>
                        <mat-divider class="devider"></mat-divider>
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                          <div>Điểm chuẩn năm 2021: </div>
                          <div class="information-value">{{universityGroupByTrainingProgramDataSet.seasonDataSet.entryMark}}</div>
                        </div>
                        <mat-divider class="devider"></mat-divider>
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                          <div>Khối: </div>
                          <div class="information-value">{{universityGroupByTrainingProgramDataSet.subjectGroupCode}}</div>
                        </div>        
                        <mat-divider class="devider"></mat-divider>
                        <div class="center-all button-frame">
                          <button (click)="onDetailClick(majorBasedFollowingDetail, trainingProgramGroupByMajorDataSet, universityGroupByTrainingProgramDataSet)" class="detail-button" routerLink="./detail" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" mat-stroked-button color="primary">Chi tiết</button>
                          <button (click)="onUncaringClick(1, 1, 1)" class="uncaring-button" mat-stroked-button>Bỏ quan tâm</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </mat-expansion-panel>
        </div>

      </div>
      
    </mat-accordion>
  </div>

 
</div>