.university-main {
  width: 100%;
  height: 100%;
  padding: 1rem;
  overflow: auto;
  position: relative;
}

.university-main .page-header {
  margin-left: -1rem;
  margin-right: -1rem;
  margin-top: -1rem;
  margin-bottom: 25px;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
  padding: 1rem 3rem;
}

.search-box {
  padding: 8px;
}

.search-box input {
  width: 188px;
  margin-bottom: 8px;
  display: block;
}

.search-box button {
  width: 90px;
}

.search-button {
  margin-right: 8px;
}

#status {
  font-size: 10px !important;
}

span {
  font-size: 12px;
}

nz-table th {  
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  // background-color: #87ceeb; 
  // background-color: #f1f1f1;
  // background-color: #e4e9f2;
  background-color: 	#ADD8E6;
  text-align: center;
  font-size: 12px;
}

nz-table {
  ::ng-deep {
    .ant-pagination-item, .ant-pagination-total-text, .ant-pagination-item-ellipsis {
      line-height: 30px;      
    }
    a {
      text-decoration: none;
      // font-size: 12px;
    }
    nz-filter-trigger {
      .ant-table-filter-trigger {
        color: black;
      }
      .ant-table-filter-trigger.active {
        color: #1890ff;
      }     
    }
  }
}

nz-table th:first-child {
  width: 1%;
}

nz-table th:last-child {
  width: 6%;
}

nz-table td {
  // font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  word-wrap: break-word;    
  font-size: 12px;
  // touch-action: manipulation;
  // cursor: -webkit-grab;
  // cursor: grab;  
}

.icon-edit {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;  
  background-color: #fff;
  cursor: pointer;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  margin: 5px;
}
.university-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.none-action {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.university-header h5 {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 12px;
  margin: 0 15px 0 0;
  color: #ff3d71;
  text-transform: uppercase;
}

@media (max-width: 1384px) {
  nz-table th {
    font-size: 11px;
  }
  nz-table td {
    font-size: 11px;
  }
  span {
    font-size: 11px;
  }
  nz-table th:last-child {
    width: 9%;
  }
  #tuition {
    width: 19%;
  }
}

@media (min-width: 1384px) and (max-width: 1515px) {
  nz-table th {
    font-size: 11px;
  }
  nz-table td {
    font-size: 11px;
  }
  span {
    font-size: 11px;
  }
  nz-table th:first-child {
    width: 1%;
  }
  nz-table th:last-child {
    width: 8%;
  }
  #tuition {
    width: 17%;
  }
}

@media (min-width: 1516px) and (max-width: 1669px){
  nz-table th {
    font-size: 11px;
  }
  nz-table td {
    font-size: 11px;
  }
  span {
    font-size: 11px;
  }
  nz-table th:last-child {
    width: 8%;
  }
  #tuition {
    width: 17%;
  }
}

@media (min-width: 1669px){
  nz-table th {
    font-size: 11px;
  }
  nz-table td {
    font-size: 11px;
  }
  span {
    font-size: 11px;
  }
  nz-table th:last-child {
    width: 8%;
  }
  #tuition {
    width: 17%;
  }
}
