th {
  font-size: 1rem;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  font-weight: 600;
}

td {
  font-size: 0.9rem;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  text-align: justify;
  width: 12.5%;
}

td span,
p {
  font-size: 0.9rem;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  text-align: justify;
}

.stt,
.code,
.action,
.status {
  width: 1%;
}
.name {
  width: 16%;
}
.tuition {
  width: 10%;
}
.phone {
  width: 5%;
}

.university-main {
  width: 100%;
  height: 100%;
  padding: 1rem;
  overflow: auto;
  position: relative;
}

.university-main .page-header {
  margin-left: -1rem;
  margin-right: -1rem;
  margin-top: -1rem;
  margin-bottom: 25px;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
  padding: 2rem 3rem;
}

.ant-modal-body {
  padding: 0;
}

@media (max-width: 789px) {
  .page-header {
    padding: 2rem 0 2rem 6rem;
  }
}
