th {
    font-size: 14px;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif; 
    
}

td {
    font-size: 0.8rem;    
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: justify;   
    width: 23.3333333%; 
}

.stt, .code, .action {
    width: 2%;
}
.name {
    width: 20%;
}
.status {
    width: 4%;
}
.tuition {
    width: 10%;
}
.phone {
    width: 5%;
}

.importantInfo {
    font-size: 0.8rem;
    // font-family: 'Courier New', Courier, monospace;   
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;    
}

.university-main {
    width: 100%;
    height: 100%;
    padding: 1rem;
    overflow: auto;
    position: relative;
}

.university-main .page-header {
    margin-left: -1rem;
    margin-right: -1rem;
    margin-top: -1rem;
    margin-bottom: 25px;
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5; 
    padding: 2rem 3rem;
}

.ant-modal-body {
    padding: 0;
}


@media (max-width: 789px) {
    .page-header {
        padding: 2rem 0 2rem 6rem;
    }
}
