<h2 class="title-page center-all">LUYỆN ĐỀ THI THPT QUỐC GIA ONLINE</h2>
<div gdAreas="math english physics chemistry | biography geography history education" gdGap="30px" gdRows="auto auto"
gdAreas.lt-md="math english physics | chemistry biography geography | history education" gdRows.lt-md="auto auto auto"
gdAreas.lt-sm="math english | physics chemistry | biography geography | history education" gdRows.lt-sm="auto auto auto auto">
    <div gdArea="math" class="subject-frame" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="./math">
      <div class="center-all img-frame">
        <img class="subject-img" alt="Toán" src="../../../assets/img/ic/icon_toan.jpg">
      </div>
      <h2 class="course-name center-all">TOÁN</h2>
      <div class="center-all">
        <button class="detail-btn">Xem chi tiết</button>
      </div>
    </div>
    <div gdArea="english" class="subject-frame" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="./english">
      <div class="center-all img-frame">
        <img class="subject-img" alt="Anh văn" src="../../../assets/img/ic/icon_anh.jpg">
      </div>
      <h2 class="course-name center-all">ANH VĂN</h2>
      <div class="center-all">
        <button class="detail-btn">Xem chi tiết</button>
      </div>
    </div>
    <div gdArea="physics" class="subject-frame" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="./physics">
      <div class="center-all img-frame">
        <img class="subject-img" alt="Vật lý" src="../../../assets/img/ic/icon_ly.jpg">
      </div>
      <h2 class="course-name center-all">VẬT LÝ</h2>
      <div class="center-all">
        <button class="detail-btn">Xem chi tiết</button>
      </div>
    </div>
    <div gdArea="chemistry" class="subject-frame" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="./chemistry">
      <div class="center-all img-frame">
        <img class="subject-img" alt="Hóa" src="../../../assets/img/ic/icon_hoa.jpg">
      </div>
      <h2 class="course-name center-all">HÓA HỌC</h2>
      <div class="center-all">
        <button class="detail-btn">Xem chi tiết</button>
      </div>
    </div>
    <div gdArea="biography" class="subject-frame" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="./biography">
      <div class="center-all img-frame">
        <img class="subject-img" alt="Sinh học" src="../../../assets/img/ic/icon_sinh.jpg">
      </div>
      <h2 class="course-name center-all">SINH HỌC</h2>
      <div class="center-all">
        <button class="detail-btn">Xem chi tiết</button>
      </div>
    </div>
    <div gdArea="geography" class="subject-frame" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="./geography">
      <div class="center-all img-frame">
        <img class="subject-img" alt="Địa lý" src="../../../assets/img/ic/icon_dia.jpg">
      </div>
      <h2 class="course-name center-all">ĐỊA LÝ</h2>
      <div class="center-all">
        <button class="detail-btn">Xem chi tiết</button>
      </div>
    </div>
    <div gdArea="history" class="subject-frame" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="./history">
      <div class="center-all img-frame">
        <img class="subject-img" alt="Lịch sử" src="../../../assets/img/ic/icon_su.jpg">
      </div>
      <h2 class="course-name center-all">LỊCH SỬ</h2>
      <div class="center-all">
        <button class="detail-btn">Xem chi tiết</button>
      </div>
    </div>
    <div gdArea="education" class="subject-frame" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="./civic-education">
      <div class="center-all img-frame">
        <img class="subject-img" alt="GDCD" src="../../../assets/img/ic/icon_gdcd.jpg">
      </div>
      <h2 class="course-name center-all">GDCD</h2>
      <div class="center-all">
        <button class="detail-btn">Xem chi tiết</button>
      </div>
    </div>
</div>