<div class="article-detail">  
  <div class="container-fluid">
    <div nz-row>
      <div nz-col [nzXs]="18" [nzSm]="18" [nzMd]="18" [nzLg]="18" [nzXl]="18" [nzXXl]="18" class="mb-2">
        <div class="action-button-page">
          <button nz-button nzType="primary" style="width: 140px; background-color: transparent;" nzType="dashed" >Bài trước</button>
        </div>  
        <nb-card style="margin: 0; width: 99%; position: relative">
          <nb-card-body style="width: 100%">
            <div style="width: 100%;">
              <div>   
                <div *ngIf="article === null; else articleContent">
                  <nz-skeleton [nzActive]="true"></nz-skeleton>
                </div>     
                <ng-template #articleContent>
                  <div [innerHtml]="article.content"></div>
                </ng-template>                                        
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </div>

      <div nz-col [nzXs]="6" [nzSm]="6" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6" class="mb-2">
        <div class="action-button-page" style="float: right;">
          <button nz-button nzType="primary" style="width: 120px;" (click)="useUpdate()">Bài tiếp theo</button>
        </div> 
        <nb-card style="margin: 0 0 20px 0; width: 100%; position: relative;">
          <nb-card-body style="width: 100%">
            <div style="width: 100%; max-height: 50rem">
              <div style="height: 400px;">
                
              </div>
            </div>
          </nb-card-body>
        </nb-card>
        <div class="action-button">
          <button nz-button nzType="primary" style="width: 100%;" nzSize="large" >Duyêt</button>
        </div>   
        <div class="action-button">
          <button nz-button nzType="warning" style="width: 100%;" nzSize="large">Yêu </button>
        </div>  
        <div class="action-button">
          <button nz-button nzType="danger" style="width: 100%;" nzSize="large">Hủy duyệt</button>
        </div>       
      </div>
    </div>    
  </div>
</div>
