.article-detail {
  width: 100%;
  height: 100%;
  padding: 1rem;
  overflow: auto;
  position: relative;
}

.action-button {
    width: 100%;
    margin-bottom: 20px;
}

.action-button-page {
    margin-bottom: 10px;
}

:host ::ng-deep img { 
  max-width: 100% !important;
  height: auto;
}