<div class="article-detail">
  <div class="container-fluid" style="padding-left: 0;">
    <div nz-row>
      <div nz-col [nzXs]="17" [nzSm]="17" [nzMd]="17" [nzLg]="17" [nzXl]="17" [nzXXl]="17" class="mb-2">
        <nb-card style="margin: 0; width: 100%; position: relative">
          <nb-card-body style="width: 100%">
            <div style="width: 100%;">
              <div style="padding: 1rem;">
                <div *ngIf="article === null; else articleContent">
                  <nz-skeleton [nzActive]="true"></nz-skeleton>
                </div>
                <ng-template #articleContent>
                  <h3 [innerHtml]="article?.title"></h3>
                  <div style="margin-bottom: 15px;">
                    <div class="d-flex align-items-center">
                      <div class="d-flex align-items-center">
                        <i nz-icon nzType="link" nzTheme="outline"></i>
                        <div style="margin-left: 5px;">
                          <a [href]="article?.rootUrl"><span>Link bài gốc</span></a>
                        </div>
                      </div>
                      <div class="text-gray">
                        <nz-divider nzType="vertical"></nz-divider>
                        <span>{{article?.postedDate | date: 'HH:mm dd/MM/yyyy'}}</span>
                      </div>
                    </div>
                  </div>
                  <div [innerHtml]="article?.content | safeArticleHtml"></div>
                </ng-template>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </div>

      <div [class]="'action'" nz-col [nzXs]="6" [nzSm]="6" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6" class="mb-2">
        <nb-card style="margin: 0 0 20px 0; width: 100%; position: relative;">
          <nb-card-body style="width: 100%">
            <div style="width: 100%; max-height: 50rem">
              <div style="display: flex; justify-content: center; align-items: center; flex-wrap: wrap;">
                <label for="" class="mb-0 mr-5">Trạng thái bài viết : </label>
                <label *ngIf="article?.status === 1" style="color: rgb(87, 165, 90);" class="mb-0">ĐÃ DUYỆT</label>
                <label *ngIf="article?.status === 0" style="color: rgb(233, 127, 51);" class="mb-0">CHỜ DUYỆT</label>
                <label *ngIf="article?.status === 2" style="color: rgb(205, 19, 23);" class="mb-0">BỊ CHẶN</label>
                <label *ngIf="article?.status === 3" style="color: #0052cc;" class="mb-0">ĐÃ ĐƯỢC ĐĂNG</label>
                <label *ngIf="article?.status === 4" style="color: rgb(205, 19, 23);" class="mb-0">QUÁ HẠN</label>
                <label *ngIf="article?.status === 5" style="color: rgb(205, 19, 23);" class="mb-0">CẦN XEM XÉT</label>
              </div>
              <nz-divider *ngIf="article?.status === 4"></nz-divider>
              <span *ngIf="article?.status === 4" style="color: rgb(233, 127, 51);"> <i>Bài viết này đã từng được đăng từ ngày {{ article?.publicFromDate | date: 'dd/MM/yyyy' }} đến ngày {{ article?.publicToDate | date: 'dd/MM/yyyy' }}</i> </span>
              <nz-divider></nz-divider>
              <div *ngIf="article?.status === 1 || article?.status === 2 || article?.status === 3 || article?.status === 4" style="display: flex; justify-content: center;">
                <div class="col-lg-6" style="padding-left: 0;">
                  <label for="">Hiển thị từ ngày</label>
                  <nz-date-picker
                    [nzDisabled]="article?.status === 2 || article?.status === 3"
                    [nzDisabledDate]="disabledDate"
                    [formControl]="dateForm.get('publicFromDate')"
                    [nzSize]="'large'"
                    nzShowTime
                    nzFormat="yyyy-MM-dd HH:mm:ss"
                    (nzOnOk)="onOkFromDate($event)"
                  ></nz-date-picker>
                </div>
                <div class="col-lg-6" style="padding-right: 0;">
                  <label for="">Hiên thị đến ngày</label>
                  <nz-date-picker
                    [nzDisabled]="article?.status === 2 || article?.status === 3"
                    [nzDisabledDate]="disabledDate"
                    [formControl]="dateForm.get('publicToDate')"
                    [nzSize]="'large'"
                    nzShowTime
                    nzFormat="yyyy-MM-dd HH:mm:ss"
                    (nzOnOk)="onOkToDate($event)"
                  ></nz-date-picker>
                  <span *ngIf="dateForm.errors?.greaterThan" style="color: red;">Ngày đăng không hợp lệ</span>
                </div>
              </div>
              <div style="display: flex; justify-content: center; flex-wrap: wrap;">
                <div class="col-lg-12" style="margin-bottom: 20px; padding-left: 0; padding-right: 0;">
                  <label for="">Các trường đại học liên quan</label>
                  <nz-select
                    [nzDisabled]="article?.status === 2 || article?.status === 1 || article?.status === 3"
                    [nzSize]="'large'"
                    [nzMaxTagCount]="3"
                    [nzMaxTagPlaceholder]="tagPlaceHolderUni"
                    nzMode="multiple"
                    nzPlaceHolder="Chọn danh sách trường đại học"
                    [(ngModel)]="listOfSelectedUniversity"
                  >
                    <nz-option *ngFor="let item of listOfDisplayUniversity" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
                  </nz-select>
                  <ng-template #tagPlaceHolderUni let-selectedList> và {{ selectedList.length }}trường đại học khác </ng-template>
                </div>
                <div class="col-lg-12" style="margin-bottom: 20px; padding-left: 0; padding-right: 0;">
                  <label for="">Các ngành học liên quan</label>
                  <nz-select
                    [nzDisabled]="article?.status === 2 || article?.status === 1 || article?.status === 3"
                    [nzSize]="'large'"
                    [nzMaxTagCount]="3"
                    [nzMaxTagPlaceholder]="tagPlaceHolderMajor"
                    nzMode="multiple"
                    nzPlaceHolder="Chọn danh sách các ngành"
                    [(ngModel)]="listOfSelectedMajor"
                  >
                    <nz-option *ngFor="let item of listOfDisplayMajor" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
                  </nz-select>
                  <ng-template #tagPlaceHolderMajor let-selectedList> và {{ selectedList.length }} ngành học khác </ng-template>
                </div>
              </div>

            </div>
          </nb-card-body>
        </nb-card>
        <div *ngIf="article?.status === 1" style="display: flex; justify-content: center; flex-wrap: wrap; align-items: center;">
          <div class="action-button col-lg-6 pr-0 pl-0">
            <button [disabled]="dateForm.invalid" fullWidth nbButton outline status="info" (click)="confirmArticle('published')">ĐĂNG BÀI</button>
          </div>
          <div class="action-button col-lg-6" style="padding-right: 0px;">
            <button fullWidth nbButton outline status="danger" (click)="confirmArticle('reject')">CHẶN BÀI VIẾT</button>
          </div>
        </div>
        <div *ngIf="article?.status === 0" style="display: flex; justify-content: center; flex-wrap: wrap; align-items: center;">
          <div class="action-button col-lg-6" style="padding-left: 0px;">
            <button fullWidth nbButton  status="success" outline (click)="confirmArticle('accept')">DUYỆT BÀI</button>
          </div>
          <div class="action-button col-lg-6" style="padding-right: 0px;">
            <button fullWidth  nbButton outline status="danger" (click)="confirmArticle('reject')">CHẶN BÀI VIẾT</button>
          </div>
          <div class="action-button col-lg-12" style="padding-right: 0px; padding-left: 0;">
            <button *ngIf="article?.rootUrl === null && article?.status === 0" fullWidth nbButton outline status="primary" (click)="openUpdateModal()">CHỈNH SỬA</button>
          </div>
        </div>
        <div *ngIf="article?.status === 2" style="display: flex; justify-content: center; flex-wrap: wrap; align-items: center;">
          <div class="action-button col-lg-12" style="padding-left: 0px;">
            <button fullWidth nbButton  status="danger" outline (click)="confirmArticle('unReject')">GỠ CHẶN</button>
          </div>
        </div>
        <div *ngIf="article?.status === 3" style="display: flex; justify-content: center; flex-wrap: wrap; align-items: center;">
          <div class="action-button col-lg-12" style="padding-left: 0px; padding-right: 0;">
            <button  fullWidth nbButton  status="info" outline (click)="confirmArticle('unPublished')">HỦY ĐĂNG</button>
          </div>
        </div>
        <div *ngIf="article?.status === 4" style="display: flex; justify-content: center; flex-wrap: wrap; align-items: center;">
          <div class="action-button col-lg-12" style="padding-left: 0px;">
            <button [disabled]="dateForm.invalid" fullWidth nbButton  status="info" outline (click)="confirmArticle('published')">ĐĂNG LẠI</button>
          </div>
        </div>
        <div *ngIf="article?.status === 5" style="display: flex; justify-content: center; flex-wrap: wrap; align-items: center;">
          <div class="action-button col-lg-6" style="padding-left: 0px;">
            <button fullWidth nbButton  status="success" outline (click)="confirmArticle('accept')">DUYỆT LẠI</button>
          </div>
          <div class="action-button col-lg-6" style="padding-right: 0px;">
            <button fullWidth  nbButton outline status="danger" (click)="confirmArticle('reject')">CHẶN BÀI VIẾT</button>
          </div>
          <div class="action-button col-lg-12" style="padding-right: 0px; padding-left: 0;">
            <button *ngIf="article?.rootUrl === null && article?.status === 5" fullWidth nbButton outline status="primary" (click)="openUpdateModal()">CHỈNH SỬA</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
