<div fxFlexFill  fxLayout="row wrap" fxLayoutGap="grid" fxLayoutAlign="flex-start">
    <div fxFlex="0 1 calc(100%)" fxFlex.lt-md="0 1 calc(100% )">
      <div *ngIf="testSubmissionReponse">
        <h1 mat-dialog-title class="test-title">{{test.name}}</h1>
        <div mat-dialog-content>
          <div>Môn thi: <span class="result">{{getSubjectName(test.subjectId)}}</span></div>
          <div>Số câu trả lời đúng: <span class="result">{{testSubmissionReponse.numberOfRightAnswers}}/{{testSubmissionReponse.numberOfQuestion}}</span></div>
          <div>Thời gian làm bài: <span class="result">{{testSubmissionReponse.spentTime}}/{{test.timeLimit}}</span></div>
          <div>Điểm:</div>
          <div class="mark">{{testSubmissionReponse.mark | number : '1.2-2'}}</div>
          <div *ngIf="needDoneTestIds.length > 0">
            <p>Bạn đã có điểm thi thử <span class="result">{{tests.length - needDoneTestIds.length}}/{{tests.length}}</span> môn học của tổ hợp môn <span class="result">{{selectedSubjectGroup.name}}</span>, làm tiếp các bài còn lại để nhận được kết quả chính xác hơn.</p>
            <div class="button-frame">
              <div *ngFor="let subjectBasedTests of tests">
                <button class="subject-button" *ngIf="needDoneTestIds.includes(subjectBasedTests.test.id) && (subjectBasedTests.daysRemaining == null || subjectBasedTests.daysRemaining <= 0)" mat-raised-button color="primary" (click)="loadTest(subjectBasedTests.test.id)">{{getSubjectName(subjectBasedTests.subjectId)}}</button>
              </div>
            </div>
          </div>
          <div *ngIf="needDoneTestIds.length <= 0">
            <p>Bạn đã có điểm thi thử <span class="result">{{tests.length}}/{{tests.length}}</span> môn học của tổ hợp môn <span class="result">{{selectedSubjectGroup.name}}.</span></p>
            <div class="center-all">
              <button class="subject-button" mat-raised-button color="primary" (click)="reloadSuggest()">Xem kết quả gợi ý mới</button>
            </div>
          </div>
        </div>
      </div> 
    </div>
</div>
